
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    LimenawebApp.Models.Sys_Users activeuser = (LimenawebApp.Models.Sys_Users)ViewBag.activeuser;
    List<LimenawebApp.Models.SalesOrders.Budget_BP> lstcustomers = (List<LimenawebApp.Models.SalesOrders.Budget_BP>)ViewBag.customers;
    List<LimenawebApp.Models.SalesOrders.Budget_BP_extra> lstcustomers_extra = (List<LimenawebApp.Models.SalesOrders.Budget_BP_extra>)ViewBag.extracustomers;
}


<div class="page__header">
    <div class="container-fluid page__heading-container">
        <div class="page__heading d-flex align-items-center">
            <div class="flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Main</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <h1 class="m-0">Dashboard</h1>
            </div>

        </div>
    </div>
</div> <!-- // END page__header -->


<div class="page__header page__header-nav">

    <div class="container-fluid page__container">


    </div>
</div>

@if (activeuser.Roles.Contains("Super Admin"))
{
    
<div class="container-fluid page__container">
    <div class="alert alert-soft-success d-flex align-items-center card-margin" role="alert">
        <i class="material-icons mr-3">error_outline</i>
        <div class="text-body"><strong>API gateways are now Online.</strong> If you want to stay up to date check our <a href="#">Status Page </a></div>
    </div>
 
        @if (ViewBag.showfreezermessage == "Y")
        {
            <div class="alert alert-soft-warning d-flex align-items-center card-margin" role="alert">
                <i class="material-icons mr-3">error_outline</i>
                <div class="text-body"><strong>Assigned Containers.</strong> Please receive and validate them using the quick action  <a href="#" data-toggle="modal" data-target="#modal-freezerReceive">Receive a Container</a></div>
            </div>
        }
    



    <div class="col-lg-12 py-3 px-0 bg-white border-left d-flex flex-column">
        <div class="form-group px-3">
            <div class="input-group input-group-merge input-group-rounded">
                <input type="text" class="form-control form-control-prepended" placeholder="Filter modules">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="material-icons">filter_list</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex d-flex flex-column">
            <div data-simplebar class="h-100">
                <div class="list-group list-group-flush" style="position: relative; z-index: 0;">


                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("Index","Authorizations")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/authorizations.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("Index","Authorizations")" class="text-body"><strong>Authorizations</strong></a><br>
                                <span class="text-muted">Smart Delivery</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("ReceivePayments","Payments")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/paymentfinance.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("ReceivePayments","Payments")" class="text-body"><strong>Payments</strong></a><br>
                                <span class="text-muted">Smart Delivery</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("ReceiveCredits","Warehouse")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/routes2.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("ReceiveCredits","Warehouse")" class="text-body"><strong>Credits / Returned Products</strong></a><br>
                                <span class="text-muted">Smart Deliver</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("PlanningRoutes","Invoices")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/planning.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("PlanningRoutes","Invoices")" class="text-body"><strong>Planning</strong></a><br>
                                <span class="text-muted">Operations</span>
                            </p>
                        </div>
                    </div>


                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("PlanningRoutesWMS","Invoices")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/planning.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("PlanningRoutesWMS","Invoices")" class="text-body"><strong>Planning WMS</strong></a><br>
                                <span class="text-muted">Operations</span>
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("QualityControl_planning","Invoices")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/qualitycontrol1.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("QualityControl_planning","Invoices")" class="text-body"><strong>Quality Control</strong></a><br>
                                <span class="text-muted">Operations</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("OpenSalesOrders","Invoices")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/opesalesorders.png" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("OpenSalesOrders","Invoices")" class="text-body"><strong>Sales Orders Print</strong></a><br>
                                <span class="text-muted">Operations</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="#" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/choose/freezersReceive.png" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("Freezers","Invoices")" class="text-body"><strong>Containers</strong></a><br>
                                <span class="text-muted">Warehouse</span>
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex media align-items-center">
                        <a href="#" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/choose/freezersReceive.png" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="#" data-toggle="modal" data-target="#modal-freezerReceive" class="text-body"><strong>Receive a Containers</strong></a><label class="badge badge-success" style="margin-left:5px;">Quick Action</label><br>
                                <span class="text-muted">Warehouse</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("Credits_authorize", "Commercial")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/credits.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("Credits_authorize", "Commercial")" class="text-body"><strong>Credits Authorize</strong></a><br>
                                <span class="text-muted">Commercial / Sales Support</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("Credits_request", "Commercial")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/credits.jpg" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("Credits_request", "Commercial")" class="text-body"><strong>Credits Request</strong></a><br>
                                <span class="text-muted">Commercia / Sales Support</span>
                            </p>
                        </div>
                    </div>

                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("Customer_contactdata", "Commercial")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/customercare.png" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("Customer_contactdata", "Commercial")" class="text-body"><strong>Customers Contact Data</strong></a><br>
                                <span class="text-muted">Commercia</span>
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex media align-items-center">
                        <a href="@Url.Action("New_customers", "Management")" class="avatar avatar-sm media-left mr-3">
                            <img src="~/Content/assets/images/dashboard/customercare.png" alt="Avatar" class="avatar-img rounded-circle">
                        </a>
                        <div class="media-body">
                            <p class="m-0">
                                <a href="@Url.Action("New_customers", "Management")" class="text-body"><strong>New customers</strong></a><br>
                                <span class="text-muted">Management</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

 
        <p class="text-dark-gray d-flex align-items-center mt-3">
            <strong>Purchases</strong><hr />
        </p>

        <div class="row card-group-row  pt-2">
            <div class="col-md-3">
                <div class="card card-group-row__card pricing__card">
                    <div class="card-body d-flex flex-column">
                        <div class="text-center">
                            <img src="~/Content/assets/images/dashboard/authorizations.jpg" style="width:100px;" />

                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="@Url.Action("OTB","OTB")" class="btn btn-success mt-auto">OTB</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-group-row__card pricing__card">
                    <div class="card-body d-flex flex-column">
                        <div class="text-center">
                            <img src="~/Content/assets/images/dashboard/authorizations.jpg" style="width:100px;" />

                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="@Url.Action("SOP","SOP")" class="btn btn-success mt-auto">S&OP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-group-row__card pricing__card">
                    <div class="card-body d-flex flex-column">
                        <div class="text-center">
                            <img src="~/Content/appcontent/assets/img/badge/logoIBM-Cognos-Analytics.png" style="width:111px;" />

                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="http://cognos.limenainc.net/" target="_blank" class="btn btn-success mt-auto">COGNOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    




</div>
}
else
{

<div class="container-fluid page__container">
    <div class="alert alert-soft-success d-flex align-items-center card-margin" role="alert">
        <i class="material-icons mr-3">error_outline</i>
        <div class="text-body"><strong>API gateways are now Online.</strong> If you want to stay up to date check our <a href="#">Status Page </a></div>
    </div>
    @if (activeuser.Roles.Contains("Receive Containers"))
    {
        if (ViewBag.showfreezermessage == "Y")
        {
            <div class="alert alert-soft-warning d-flex align-items-center card-margin" role="alert">
                <i class="material-icons mr-3">error_outline</i>
                <div class="text-body"><strong>Assigned Containers.</strong> Please receive and validate them using the quick action  <a href="#" data-toggle="modal" data-target="#modal-freezerReceive">Receive a Container</a></div>
            </div>
        }
    }



    <div class="col-lg-12 py-3 px-0 bg-white border-left d-flex flex-column">
        <div class="form-group px-3">
            @*<div class="input-group input-group-merge input-group-rounded">
                    <input type="text" class="form-control form-control-prepended" placeholder="Filter modules (coming soon)">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">filter_list</span>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="flex d-flex flex-column">
            <div data-simplebar class="h-100">
                <div class="list-group list-group-flush" style="position: relative; z-index: 0;">

                    @if (activeuser.Roles.Contains("Sales Representative"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Reports_RC","Reports")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/appcontent/assets/img/badge/newspaper.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Reports_RC","Reports")" class="text-body"><strong>Daily Routes Summary</strong></a><br>
                                    <span class="text-muted">Power BI</span>
                                </p>
                            </div>
                        </div>
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Routes","Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/appcontent/assets/img/badge/1063141.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Routes","Commercial")" class="text-body"><strong>Routes</strong></a><br>
                                    <span class="text-muted">Limena Web</span>
                                </p>
                            </div>
                        </div>


                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Prices_request","Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/paymentfinance.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Prices_request","Commercial")" class="text-body"><strong>Price Request</strong></a><br>
                                    <span class="text-muted">Limena Web</span>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Credits_request","Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/appcontent/assets/img/badge/credit-card.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Credits_request","Commercial")" class="text-body"><strong>Credits Request</strong></a><br>
                                    <span class="text-muted">Limena Web</span>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Customer_contactdata","Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/appcontent/assets/img/badge/affiliate.svg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Customer_contactdata","Commercial")" class="text-body"><strong>Customers Contact Data</strong></a><br>
                                    <span class="text-muted">Limena Web</span>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item d-flex media align-items-center">
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Dashboard_sales","Main")" class="text-body"><strong>Back to default Dashboard</strong></a><br>
                                    <span class="text-muted">Limena Web</span>
                                </p>
                            </div>
                        </div>
                        <div class="list-group-item d-flex media align-items-center">
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("App","Home")" class="text-body"><strong>Change Application</strong></a><br>
                                    <span class="text-muted">Smart Delivery</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Departments.Contains("SD"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Index","Authorizations")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/authorizations.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Index","Authorizations")" class="text-body"><strong>Authorizations</strong></a><br>
                                    <span class="text-muted">Smart Delivery</span>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("ReceivePayments","Payments")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/paymentfinance.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("ReceivePayments","Payments")" class="text-body"><strong>Payments</strong></a><br>
                                    <span class="text-muted">Smart Delivery</span>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("ReceiveCredits","Warehouse")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/routes2.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("ReceiveCredits","Warehouse")" class="text-body"><strong>Credits / Returned Products</strong></a><br>
                                    <span class="text-muted">Smart Deliver</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Roles.Contains("Planning"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("PlanningRoutes","Invoices")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/planning.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("PlanningRoutes","Invoices")" class="text-body"><strong>Planning</strong></a><br>
                                    <span class="text-muted">Operations</span>
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("PlanningRoutesWMS","Invoices")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/planning.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("PlanningRoutesWMS","Invoices")" class="text-body"><strong>Planning WMS</strong></a><br>
                                    <span class="text-muted">Operations</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Roles.Contains("CreditsQC"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("ReceiveCredits","Warehouse")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/routes2.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("ReceiveCredits","Warehouse")" class="text-body"><strong>Credits / Returned Products</strong></a><br>
                                    <span class="text-muted">Smart Deliver</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Roles.Contains("Quality Control"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("QualityControl_planning","Invoices")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/qualitycontrol1.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("QualityControl_planning","Invoices")" class="text-body"><strong>Quality Control</strong></a><br>
                                    <span class="text-muted">Operations</span>
                                </p>
                            </div>
                        </div>
                    }

                    @if (activeuser.Roles.Contains("SO Print"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("OpenSalesOrders","Invoices")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/opesalesorders.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("OpenSalesOrders","Invoices")" class="text-body"><strong>Sales Orders Print</strong></a><br>
                                    <span class="text-muted">Operations</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Roles.Contains("Receive Containers"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="#" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/choose/freezersReceive.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Freezers","Invoices")" class="text-body"><strong>Containers</strong></a><br>
                                    <span class="text-muted">Warehouse</span>
                                </p>
                            </div>
                        </div>
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="#" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/choose/freezersReceive.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="#" data-toggle="modal" data-target="#modal-freezerReceive" class="text-body"><strong>Receive a Containers</strong></a><label class="badge badge-success" style="margin-left:5px;">Quick Action</label><br>
                                    <span class="text-muted">Warehouse</span>
                                </p>
                            </div>
                        </div>
                    }

                    @if (activeuser.Roles.Contains("Credits Authorizer"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Credits_authorize", "Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/credits.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Credits_authorize", "Commercial")" class="text-body"><strong>Credits Authorize</strong></a><br>
                                    <span class="text-muted">Commercial / Sales Support</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Roles.Contains("Credits Authorizer"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Credits_request", "Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/credits.jpg" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Credits_request", "Commercial")" class="text-body"><strong>Credits Request</strong></a><br>
                                    <span class="text-muted">Commercia / Sales Support</span>
                                </p>
                            </div>
                        </div>
                    }
                    @if (activeuser.Roles.Contains("Contacts"))
                    {
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("Customer_contactdata", "Commercial")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/customercare.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("Customer_contactdata", "Commercial")" class="text-body"><strong>Customers Contact Data</strong></a><br>
                                    <span class="text-muted">Commercia</span>
                                </p>
                            </div>
                        </div>
                        <div class="list-group-item d-flex media align-items-center">
                            <a href="@Url.Action("New_customers", "Management")" class="avatar avatar-sm media-left mr-3">
                                <img src="~/Content/assets/images/dashboard/customercare.png" alt="Avatar" class="avatar-img rounded-circle">
                            </a>
                            <div class="media-body">
                                <p class="m-0">
                                    <a href="@Url.Action("New_customers", "Management")" class="text-body"><strong>New customers</strong></a><br>
                                    <span class="text-muted">Management</span>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (activeuser.Roles.Contains("Sales Representative"))
    {

        <div class="col-lg-12 py-3 px-0 bg-white border-left d-flex flex-column">

            <div class="form-group px-3">

                <div class="row card-group-row">
                    <div class="col-lg-4 col-md-6 card-group-row__col">
                        <div class="card card-group-row__card">
                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                <div class="flex">

                                    @if (((Convert.ToDecimal(ViewBag.weeklySalesCustomers) / Convert.ToDecimal(ViewBag.weeklyCustomers)) * 100) > 100)
                                    {
                                        <div class="card-header__title text-muted mb-2 d-flex">Customers<span class="badge badge-success ml-2">@(((Convert.ToDecimal(ViewBag.weeklySalesCustomers) / Convert.ToDecimal(ViewBag.weeklyCustomers)) * 100).ToString("N2"))%  </span><small class="text-muted">  (weekly)</small></div>
                                    }
                                    else
                                    {
                                        <div class="card-header__title text-muted mb-2 d-flex">Customers<span class="badge badge-warning ml-2">@(((Convert.ToDecimal(ViewBag.weeklySalesCustomers) / Convert.ToDecimal(ViewBag.weeklyCustomers)) * 100).ToString("N2"))%  </span><small class="text-muted">  (weekly)</small></div>
                                    }
                                    <span class="h5 m-0"> @ViewBag.weeklyCustomers <small class="text-muted">(budget)</small> / @ViewBag.weeklySalesCustomers <small class="text-muted">(effective)</small> </span>
                                </div>

                            </div>
                            <div class="progress" style="height: 3px;">
                                @if (((Convert.ToDecimal(ViewBag.weeklySalesCustomers) / Convert.ToDecimal(ViewBag.weeklyCustomers)) * 100) > 100)
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @(((Convert.ToDecimal(ViewBag.weeklySalesCustomers)/ Convert.ToDecimal(ViewBag.weeklyCustomers))*100).ToString("N2"))%;" aria-valuenow="@(((Convert.ToDecimal(ViewBag.weeklySalesCustomers)/ Convert.ToDecimal(ViewBag.weeklyCustomers))*100).ToString("N2"))" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @(((Convert.ToDecimal(ViewBag.weeklySalesCustomers)/ Convert.ToDecimal(ViewBag.weeklyCustomers))*100).ToString("N2"))%;" aria-valuenow="@(((Convert.ToDecimal(ViewBag.weeklySalesCustomers)/ Convert.ToDecimal(ViewBag.weeklyCustomers))*100).ToString("N2"))" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 card-group-row__col">
                        <div class="card card-group-row__card">
                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                <div class="flex">
                                    @if (((Convert.ToDecimal(ViewBag.weeklysales) / Convert.ToDecimal(ViewBag.weeklyBudget)) * 100) > 100)
                                    {
                                        <div class="card-header__title text-muted mb-2 d-flex">Customers<span class="badge badge-success ml-2">@(((Convert.ToDecimal(ViewBag.weeklysales) / Convert.ToDecimal(ViewBag.weeklyBudget)) * 100).ToString("N2"))%  </span><small class="text-muted">  (weekly)</small></div>
                                    }
                                    else
                                    {
                                        <div class="card-header__title text-muted mb-2 d-flex">Customers<span class="badge badge-warning ml-2">@(((Convert.ToDecimal(ViewBag.weeklysales) / Convert.ToDecimal(ViewBag.weeklyBudget)) * 100).ToString("N2"))%  </span><small class="text-muted">  (weekly)</small></div>
                                    }


                                    <span class="h5 m-0">$@Convert.ToDecimal(ViewBag.weeklyBudget).ToString("N2") <small class="text-muted">(budget) </small>/ $@Convert.ToDecimal(ViewBag.weeklysales).ToString("N2") <small class="text-muted">  (sales)</small> </span>
                                </div>

                            </div>
                            <div class="progress" style="height: 3px;">
                                @if (((Convert.ToDecimal(ViewBag.weeklysales) / Convert.ToDecimal(ViewBag.weeklyBudget)) * 100) > 100)
                                {
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @(((Convert.ToDecimal(ViewBag.weeklysales)/ Convert.ToDecimal(ViewBag.weeklyBudget))*100).ToString("N2"))%;" aria-valuenow="@(((Convert.ToDecimal(ViewBag.weeklySalesCustomers)/ Convert.ToDecimal(ViewBag.weeklyCustomers))*100).ToString("N2"))" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                                else
                                {
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @(((Convert.ToDecimal(ViewBag.weeklysales)/ Convert.ToDecimal(ViewBag.weeklyBudget))*100).ToString("N2"))%;" aria-valuenow="@(((Convert.ToDecimal(ViewBag.weeklySalesCustomers)/ Convert.ToDecimal(ViewBag.weeklyCustomers))*100).ToString("N2"))" aria-valuemin="0" aria-valuemax="100"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 card-group-row__col">
                        <div class="card card-group-row__card">
                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                <div class="flex">
                                    <div class="card-header__title text-muted mb-2 d-flex">Extra Customers<small class="text-muted">  (daily)</small>  </div>
                                    <span class="h5 m-0">$@lstcustomers_extra.Sum(c => c.Sales).ToString("N2")<small class="text-muted">  (sales)</small>   </span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <br /><br />
                <label class="badge badge-primary">Details (daily)</label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="font-size:12px;background-color:#308AF3;">
                                <th style="color:white; font-weight:100">Customer Code</th>
                                <th style="color:white; font-weight:100">Customer Name</th>
                                <th style="color:white; font-weight:100">Time</th>
                                <th style="color:white; font-weight:100">Budget</th>
                                <th style="color:white; font-weight:100">Sales</th>
                                <th style="color:white; font-weight:100">Scope</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (lstcustomers.Count > 0)
                            {
                                foreach (var item in lstcustomers.OrderBy(c => c.time))
                                {
                                    <tr>
                                        <td>@item.cardCode</td>
                                        <td>@item.cardName</td>


                                        <td>
                                            @{
                                                try
                                                {
                                                    DateTime dt = DateTime.ParseExact(item.time.ToString("0000"), "HHmm", System.Globalization.CultureInfo.InvariantCulture);
                                                    string timestring = dt.ToString("hh:mm tt");
                                                    <label>@timestring</label>
                                                }
                                                catch
                                                {

                                                    <label>No valid Datetime</label>
                                                }

                                            }

                                        </td>
                                        <td>$@item.Budget.ToString("N2")</td>
                                        <td>$@item.Sales.ToString("N2")</td>
                                        <td>@item.Scope.ToString("N2")%</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="font-weight:bold">Total</td>
                                    <td style="font-weight:bold">Customers: @lstcustomers.Count()</td>
                                    <td></td>
                                    <td style="font-weight:bold">$@lstcustomers.Sum(c => c.Budget).ToString("N2")</td>
                                    <td style="font-weight:bold">$@lstcustomers.Sum(c => c.Sales).ToString("N2")</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">No data to show</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <hr />

                <label class="badge badge-primary">Extra Customers (daily)</label>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="font-size:12px;background-color:#308AF3;">
                                <th style="color:white; font-weight:100">Customer Code</th>
                                <th style="color:white; font-weight:100">Customer Name</th>
                                <th style="color:white; font-weight:100">Visit Day</th>
                                <th style="color:white; font-weight:100">Time</th>
                                <th style="color:white; font-weight:100">Sales</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (lstcustomers_extra.Count > 0)
                            {
                                foreach (var item in lstcustomers_extra.OrderBy(c => c.time))
                                {
                                    <tr>
                                        <td>@item.cardCode</td>
                                        <td>@item.cardName</td>
                                        <td>@item.VisitDay</td>
                                        <td>
                                            @{
                                                try
                                                {
                                                    DateTime dt = DateTime.ParseExact(item.time.ToString("0000"), "HHmm", System.Globalization.CultureInfo.InvariantCulture);
                                                    string timestring = dt.ToString("hh:mm tt");
                                                    <label>@timestring</label>
                                                }
                                                catch
                                                {

                                                    <label>No valid Datetime</label>
                                                }

                                            }

                                        </td>
                                        <td>$@item.Sales.ToString("N2")</td>
                                    </tr>
                                }
                                <tr>
                                    <td style="font-weight:bold">Total</td>
                                    <td style="font-weight:bold">Customers: @lstcustomers_extra.Count()</td>
                                    <td style="font-weight:bold"></td>
                                    <td style="font-weight:bold"></td>
                                    <td style="font-weight:bold">$@lstcustomers_extra.Sum(c => c.Sales).ToString("N2")</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">No data to show</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @*<div class="input-group input-group-merge input-group-rounded">
                        <input type="text" class="form-control form-control-prepended" placeholder="Filter modules (coming soon)">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons">filter_list</span>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
    }

    @if (activeuser.Departments.Contains("Purchases"))
    {

        <p class="text-dark-gray d-flex align-items-center mt-3">
            <strong>Purchases</strong><hr />
        </p>

        <div class="row card-group-row  pt-2">
            <div class="col-md-3">
                <div class="card card-group-row__card pricing__card">
                    <div class="card-body d-flex flex-column">
                        <div class="text-center">
                            <img src="~/Content/assets/images/dashboard/authorizations.jpg" style="width:100px;" />

                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="@Url.Action("OTB","OTB")" class="btn btn-success mt-auto">OTB</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-group-row__card pricing__card">
                    <div class="card-body d-flex flex-column">
                        <div class="text-center">
                            <img src="~/Content/assets/images/dashboard/authorizations.jpg" style="width:100px;" />

                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="@Url.Action("SOP","SOP")" class="btn btn-success mt-auto">S&OP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-group-row__card pricing__card">
                    <div class="card-body d-flex flex-column">
                        <div class="text-center">
                            <img src="~/Content/appcontent/assets/img/badge/logoIBM-Cognos-Analytics.png" style="width:111px;" />

                        </div>
                        <div class="card-body d-flex flex-column">
                            <a href="http://cognos.limenainc.net/" target="_blank" class="btn btn-success mt-auto">COGNOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }




</div>
    }

