@model IQueryable<LimenawebApp.Models.Tb_Bonificaciones>
@{
    ViewBag.Title = "Distribuidora Limeña - Home Customers";
}

<!--main content wrapper-->
<div class="content-wrapper">

    <!--/creative states-->
    <div class="box-container">
        <div class="container-fluid">
            <!--sales statistical overview-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">Bonifications to Approve</div>
                                <div class=" widget-action-link">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                            <i class=" vl_ellipsis-fill-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right vl-dropdown">

                                            <a class="dropdown-item" href="#"> Settings</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-xl-4">
                            <label class="col-sm-12 col-form-label col-form-label-sm">Filter by Date</label>
                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px;margin-left: 14px; margin-right:15px; border: 1px solid #ccc; width: 100%">
                                <i class="mdi mdi-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="tablaordenesbon" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    ID
                                                </th>            
                                                <th>
                                                    DOC NUM
                                                </th>
                                                <th>
                                                    ROUTE
                                                </th>
                                                <th>
                                                    CUSTOMER
                                                </th>                                                
                                                <th>
                                                    SALES REP
                                                </th>
                                                <th>
                                                    PRODUCT
                                                </th>
                                                <th>
                                                    UOM
                                                </th>
                                                <th>
                                                    TYPE
                                                </th>
                                                <th>
                                                    QTY
                                                </th><th>ORDER QTY</th>
                                                <th>
                                                    DISC($)
                                                </th>
                                                <th>
                                                    DATE
                                                </th>
                                                <th>ACTIONS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>@item.ID_bonificacion</td>

                                                <td>@item.CodPedido</td>
                                                <td>@item.RutaDef</td>
                                                <td>@item.CodCliente | @item.Cliente</td>
                                                <td>@item.Vendedor.ToUpper()</td>
                                                <td>@item.Producto</td>
                                                <td>@item.CodUOM</td>
                                                <td>@if (item.TipoIngreso == 1)
    {<span class="badge text-success">QUANTITY</span>}
else if (item.TipoIngreso == 2)
{ <span class="badge text-info">CURRENCY</span>}</td>
                                                <td>@item.CantidadFinal</td>
                                                <td>@item.CantidadPedido</td>
                                                <td>@item.CurrencyFinal</td>
                                                <td>@Convert.ToDateTime(item.FechaIngreso).ToShortDateString()</td>
                                                <td>
                                                    @if (item.Estado == 1)
                                                    {
                                                <button class="btn btn-sm btn-outline-info btnAutorizar" data-codprod="@item.CodProducto" data-tipoBon="@item.TipoIngreso" data-uom="@item.CodUOM" data-product="@item.Producto" data-qty="@item.CantidadFinal" data-price="@item.CurrencyFinal" id="@item.ID_bonificacion">Approve</button>
                                                <button class="btn btn-sm btn-outline-danger btnDeny" id="@item.ID_bonificacion">Deny</button>
                                                    }
                                                    else if (item.Estado == 2)
                                                    {
                                                <span class="badge text-info">APPROVED</span>
                                                    }
                                                    else if (item.Estado == 3) {
                                                <span class="badge text-success">ON SAP</span>
                                                    }
                                                    else if (item.Estado == 4)
                                                    {
                                                    <span class="badge text-danger">CANCELED</span>
                                                    }
                                                    else if (item.Estado == 5)
                                                    {
                                                    <span class="badge text-danger">REFUSED</span>
                                                    }
                                                    else if (item.Estado == 6)
                                                    {
                                                    <span class="badge badge-warning">BILLED WITHOUT CHANGES</span>
                                                    } else if (item.Estado == 7)
                                                    {
                                                    <span class="badge badge-warning">IN ROUTE</span>
                                                    }
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>

                                            <tr>
                                                <th colspan="8" style="text-align:right">TOTAL:</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>


                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/sales statistical overview-->
            <!--/issue fixing & profile info-->
            <!--employee data table-->
            <!--/employee data table-->
            <!--notification & regional sales-->
            <!--/notification & regional sales-->
        </div>
    </div>
</div>
<!--/main content wrapper-->

<div class="modal fade bd-example-modal-lg" id="tbbonificaciones" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Approve bonification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <div class="form-group">
                    Product:
                    <input type="text" hidden id="idproductoBon" value="" class="form-control" />
                    <input type="text" hidden id="idAut" value="" class="form-control" />
                    <input type="text" id="productBon" readonly value="" class="form-control" />
                </div>
                <div class="form-group">
                    UOM:
                    <select id="tipoUOM" class="form-control"></select>
                </div>
                <div class="form-group">
                    Bonification type:
                    <select id="tipobonificacion" class="form-control">
                        <option value="0">Select type...</option>
                        <option value="1">Quantity</option>
                        <option value="2">Currency</option>
                    </select>
                </div>
                <div class="form-group" id="typeUnits" style="display:none;">
                    Units:
                    <input class="form-control" type="number" id="cantidadBonificar" min="0" value="0" />
                </div>
                <div class="form-group" id="typeCurrency" style="display:none;">
                    Price:
                    <input class="form-control" id="pricebon" type="number" min="0" value="0" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAutorizar" class="btn btn-success">Save</button>

            </div>
        </div>
    </div>
</div>