
@{
    ViewBag.Title = "Distribuidora Limeña - Home";
}

<!--main content wrapper-->
<div class="content-wrapper">

    <!--/creative states-->
    <div class="box-container">
        <div class="container-fluid">
            <!--sales statistical overview-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">Quick Access</div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" id="quickAccess_salesreps" style="display:none;">
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Routes", "Commercial")">
                                        <img border="0" alt="Routes" src="~/Content/appcontent/assets/img/badge/1063141.png" width="100" height="100" class="itemqa">
                                        <span class="badge badge-info caption">Routes</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Reports_RC", "Reports")">
                                        <img border="0" alt="Daily Routes Summary" src="~/Content/appcontent/assets/img/badge/newspaper.png" width="100" height="100" class="itemqa">

                                        <span class="badge badge-info caption">Daily Routes Summary</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Prices_request", "Commercial")">
                                        <img border="0" alt="Price Request" src="~/Content/appcontent/assets/img/badge/tags.png" width="100" height="100" class="itemqa">

                                        <span class="badge badge-info caption">Price Request</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Credits_request", "Commercial")">
                                        <img border="0" alt="Credits Request" src="~/Content/appcontent/assets/img/badge/credit-card.png" width="100" height="100" class="itemqa">

                                        <span class="badge badge-info caption">Credits Request</span>
                                    </a>
                                </div>
                            </div>
                            <br /><br /><br />
                            <div class="row" id="quickAccess_salesreps2" style="display:none;">
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Surveys", "Commercial")">
                                        <img border="0" alt="Surveys" src="~/Content/appcontent/assets/img/completed-task.png" width="100" height="100" class="itemqa">
                                        <span class="badge badge-info caption">Surveys</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">

                                </div>
                                <div class="col-md-3 item">

                                </div>
                                <div class="col-md-3 item">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--/sales statistical overview-->
            <!--/member performance & support ticket-->
            <!--/issue fixing & profile info-->
            <!--employee data table-->
            <!--/employee data table-->
            <!--notification & regional sales-->
            <!--/notification & regional sales-->
        </div>
    </div>
</div>
<!--/main content wrapper-->
@if (ViewBag.issuperadmin == 0)
{
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Surveys Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>If you have not finished all your surveys, please try to complete them as soon as possible.</p>
                    <div>
                        <label>Your status:</label>
                        <div class="form-group">
                            <div>
                                <div class="progress-title">
                                    <span id="forms_p1" class="">Total Customers : @Convert.ToDecimal(ViewBag.prop01).ToString("n2")% @ViewBag.prop02</span>
                                </div>
                                <div class="progress" style="height: 2px;">
                                    @if (Convert.ToDecimal(ViewBag.prop01) < 100)
                                    {
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: @ViewBag.prop01%;" aria-valuemax="100"></div>
                                    }
                                    else
                                    {
                                        <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.prop01%;" aria-valuemax="100"></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                        </div>
                        <a href="@Url.Action("Surveys", "Commercial")" class="btn btn-primary">Take me to Surveys Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var showpopup = 0;

        window.onload = function () {
            if (showpopup == 1) {
                $("#myModal").modal('show');
            }

        };
    </script>

}
