
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/temp_head.cshtml")
</head>
<body>

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Header -->
            @Html.Partial("~/Views/Shared/temp_header.cshtml")
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                @Html.Partial("~/Views/Shared/main_sidebar.cshtml")
                <!-- /sidebar -->
                <!-- Custom Container -->
                <div class="dt-container">

                    <!-- Site Content Wrapper -->
                    <div class="dt-content-wrapper">

                        <!-- Site Content -->
                        <div class="dt-content">

                            <!-- Page Header -->
                            <div class="dt-page__header">
                                <h1 class="dt-page__title">Dashboard</h1>
                            </div>
                            <!-- /page header -->
                            <!-- Grid Item -->
                            <div class="col-xl-7 order-xl-3">

                                <!-- Card -->
                                <div class="dt-card">

                                    <!-- Card Header -->
                                    <div class="dt-card__header mb-4">

                                        <!-- Card Heading -->
                                        <div class="dt-card__heading">
                                            <h3 class="dt-card__title">Projects</h3>
                                        </div>
                                        <!-- /card heading -->
                                        <!-- Card Tools -->
                                        <div class="dt-card__tools">
                                            <a href="@Url.Action("Projects", "Inventory")" class="dt-card__more">See All</a>
                                        </div>
                                        <!-- /card tools -->

                                    </div>
                                    <!-- /card header -->
                                    <!-- Card Body -->
                                    <div class="dt-card__body p-0 max-h-350 ps-custom-scrollbar">

                                        <!-- Widget-->
                                        <div class="dt-widget dt-widget-xl dt-widget-separator dt-widget-hover">
                                            <!-- Widget Item -->
                                            @*<div class="dt-widget__item">

                                                <!-- Widget Image -->
                                                <div class="dt-widget__img">
                                                    <!-- Avatar -->
                                                    <i class="icon icon-chatbull text-indigo icon-3x"></i>
                                                    <!-- /avatar -->
                                                </div>
                                                <!-- /widget image -->
                                                <!-- Shape -->
                                                <div class="dot-shape dot-shape-lg bg-success mx-5"></div>
                                                <!-- /shape -->
                                                <!-- Widget Info -->
                                                <div class="dt-widget__info align-text-top">
                                                    <a class="dt-widget__title" href="javascript:void(0)">ChatBull minor bug fixes</a>
                                                    <div class="dt-indicator-item__info" data-fill="55" data-max="100"
                                                         data-percent="true"
                                                         style="width: 120px">
                                                        <div class="dt-indicator-item__bar">
                                                            <div class="dt-indicator-item__fill bg-success"></div>
                                                        </div>
                                                        <span class="dt-indicator-item__count ml-3">0</span>
                                                    </div>
                                                </div>
                                                <!-- /widget info -->
                                                <!-- Widget Extra -->
                                                <div class="dt-widget__extra">
                                                    <div class="dt-task">
                                                        <div class="dt-task__number">20 Tasks</div>
                                                        <a class="dt-task__redirect" href="javascript:void(0)">
                                                            <i class="icon icon-open-new-tab"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- /widget extra -->

                                            </div>*@
                                            <!-- /widget item -->
                                            <!-- Widget Item -->

                                            <!-- /widget item -->

                                            <!-- Widget Item -->

                                            <!-- /widget item -->

                                          
                                        </div>
                                        <!-- /widget-->

                                    </div>
                                    <!-- /card body -->

                                </div>
                                <!-- /card -->

                            </div>
                            <!-- /grid item -->


                        </div>
                        <!-- /site content -->

                    </div>
                    <!-- /site content wrapper -->

                </div>
                <!-- /custom Container -->

            </main>
            <!-- /main -->
            <!-- Footer -->
            <footer class="dt-footer">
                <div class="dt-container">
                    Copyright Distribuidora Limena © 2019
                </div>
            </footer>
            <!-- /footer -->

        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/main_Scripts.cshtml")

</body>
</html>
