@model List<LimenawebApp.Models.Tb_PlanningSO>
@{
    ViewBag.Title = "Distribuidora Limeña - Planning order";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    LimenawebApp.Models.Sys_Users activeuser = (LimenawebApp.Models.Sys_Users)ViewBag.activeuser;
   
}

<div class="page__header">
    <div class="container-fluid page__heading-container">
        <div class="page__heading d-flex align-items-center">
            <div class="flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Operations</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Planning</li>
                    </ol>
                </nav>
                <h1 class="m-0">Planning</h1>
            </div>

        </div>
    </div>
</div> <!-- // END page__header -->
<!--Page Header menu-->
@Html.Partial("~/Views/Shared/New_design/Menus/Operations.cshtml")

<div class="container-fluid page__container">
                            <div class="col-md-12">
                                <div class="card card-shadow mb-4">
                                    <div class="card-header border-0">
                                        <div class="custom-title-wrap bar-info">
                                            <div class="custom-title">Sort Routes</div>
                                            <div class=" widget-action-link">

                                                <a class="btn  btn btn-info btn-sm" style="font-size:14px;" href="@Url.Action("PlanningRoutes", "Invoices")">Back</a>
                                                <button class="btn  btn btn-info float-right" style="font-size:14px;"data-toggle="modal" data-target="#modal_invoices">Add Invoices</button>
                                                <button class="btn  btn btn-info float-right" style="font-size:14px;" data-toggle="modal" data-target="#modal_SO">Add Sales Order</button>

                                                <input type="text" id="selectedRoute" hidden value="@ViewBag.id_route" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-3 pb-4">
                                        <div class="table-responsive">
                                            <a href="#" class="btn btn-sm btn-outline-warning" onclick="changeOrder()">CLEAR SORTS</a>
                                            <table id="tbOrder" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>ORDER</th>
                                                        <th style="display:none">#</th>
                                                        <th>DOC NUM</th>
                                                        <th>ID CUSTOMER</th>
                                                        <th>CUSTOMER</th>
                                                        <th>ROUTE</th>
                                                        <th>REP</th>
                                                        <th>DATE</th>
                                                        <th>AMOUNT</th>
                                                        <th>COMMENT</th>
                                                        <th>Type</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                {
                                                    <tr style="font-size:12px;font-weight:normal !important;">
                                                        <td><input type="text" class="form-control" style="width:60px;" value="@item.query3" min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" title="Numbers only" /> </td>
                                                        <td style="display:none;">@item.ID_salesorder</td>
                                                        @if (item.ID_customer[0] == 'C')
                                                    {
                                                        <td><span style="color:black !important; font-size:12px;" class="badge badge-warning text-light form-pill px-3 py-1">@item.SAP_docnum</span></td>
                                                }
                                                else
                                                {
                                                    <td><span style="color:black !important; font-size:12px;" class="badge badge-info text-light form-pill px-3 py-1">@item.SAP_docnum</span></td>
                                            }



                                                        <td>@item.ID_customer</td>
                                                        <td>@item.Customer_name</td>
                                                        <td>@item.query2</td>
                                                        <td>@item.Rep_name</td>
                                                        <td>@Convert.ToDateTime(item.SAP_docdate).ToShortDateString()</td>
                                                        <td>$@Convert.ToDecimal(item.Amount).ToString("n2")</td>
                                                        <td><textarea>@item.query4</textarea> </td>

                                                        <td>@if (item.query5 == "Invoice") { <label class="badge badge-primary">Invoice</label>}else{ <label class="badge badge-success">Sales Order</label>}</td>
                                                                                                                <td><button type="button" class="btn btn-danger" onclick="deleteSO(@item.ID_salesorder)">Delete</button></td>
                                                    </tr>
                                            }
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="2"></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th colspan="3"></th>
                                         




                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="float-left">
                                        <span style="color:black !important" class="badge badge-warning text-light form-pill px-3 py-1">LIMENA</span>
                                        <span style="color:black !important" class="badge badge-info text-light form-pill px-3 py-1">BAR-S</span>

                                    </div>

                                </div>
                                <div class="float-right">
                                    <a href="#" class="btn btn-success" onclick="saveOrderData()">Save</a>
                                    @if (activeuser.Roles.Contains("PrintAdmin"))
    {
                                <a href="@Url.Action("Print_Roadmap", "Invoices", new { id = ViewBag.id_route })" class="btn btn-info" target="_blank">print</a>
}


                                </div>
                            </div>
                        </div>
                   



        
            <!--/main content wrapper-->
