@model List<LimenawebApp.Models.PurchaseData_product>
@{
    ViewBag.Title = "Distribuidora Limeña - Purchase Data";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


                            <!-- Page Header -->
                            <div class="dt-page__header">
                         
                                <!-- Page Header -->
                                <!-- Back -->
                                <!-- /back -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- Back -->
                                        <a href="@Url.Action("Initial_forecast", "Operations", new { iddata=ViewBag.iddata})" class="text-dark">
                                            <i class="icon icon-arrow-left icon-fw icon-1x"></i><span class="display-6 align-middle ml-1">Back</span>
                                        </a>
                                        <!-- /back -->
                                    </div>
                                    <div class="col-md-6">
                                        <!-- Back -->
                                        <a href="@Url.Action("Final_forecast", "Operations", new { iddata=ViewBag.iddata})" class="text-dark">
                                            <span class="display-6 align-middle ml-1 float-right">Products Forecast</span> <i class="icon icon-arrow-right icon-fw icon-1x float-right"></i>
                                        </a>
                                        <!-- /back -->
                                    </div>
                                </div>
                            </div>
                            <!-- /page header -->
                            <!--main content wrapper-->


                            <div class="row">

                                <div class="col-xl-12">
                                    <div class="card card-shadow">
                                        <div class="card-header">
                                            <div class="custom-title-wrap bar-success">
                                                <div class="custom-title">
                                                    <!-- Text Area -->

                                                    <h1 class="dt-page__title">Purchase Agents Forecast</h1>


                                                </div>
                                            </div>

                                        </div>

                                        <div class="card-body- pt-3 pb-4">
                                            <div class="table-responsive">
                                                <table id="data_table2" class="table table-custom" cellspacing="0">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">ITEMCODE</th>
                                                            <th scope="col">ITEM</th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>
                                                            <th scope="col"></th>

                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                    </tfoot>
                                                    <tbody>
                                                        @if (Model.Count == 1)
    {
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
}
                                                        @foreach (var item in Model)
    {

                                                    <tr>
                                                        <th>@item.ItemCode</th>
                                                        <td>@item.Description</td>
                                                        <td>Forecast</td>
                                                        <td data-periodo="f1" data-description="@item.Description" data-year="@item.Forecast1_source1_year" data-itemcode="@item.ItemCode" class="editMe" data-toggle="tooltip" data-html="true" title="<em>@item.Forecast1_source1_period</em> - <u>@item.Forecast1_source1_year</u><br>Baseline: @Math.Round(Convert.ToDouble(item.Baseline1), 0, MidpointRounding.ToEven) <br>Purchase tool forecast: @Math.Round(Convert.ToDouble(item.Forecast1_source1), 0, MidpointRounding.ToEven) <br>Last saved forecast: -">@Math.Round(Convert.ToDouble(item.Forecast1_source2), 0, MidpointRounding.ToEven)</td>
                                                        <td data-periodo="f2" data-description="@item.Description" data-year="@item.Forecast2_source1_year" data-itemcode="@item.ItemCode" class="editMe" data-toggle="tooltip" data-html="true" title="<em>@item.Forecast2_source1_period</em> - <u>@item.Forecast2_source1_year</u><br>Baseline: @Math.Round(Convert.ToDouble(item.Baseline2), 0, MidpointRounding.ToEven)<br>Purchase tool forecast: @Math.Round(Convert.ToDouble(item.Forecast2_source1), 0, MidpointRounding.ToEven) <br>Last saved forecast: -">@Math.Round(Convert.ToDouble(item.Forecast2_source2), 0, MidpointRounding.ToEven)</td>
                                                        <td data-periodo="f3" data-description="@item.Description" data-year="@item.Forecast3_source1_year" data-itemcode="@item.ItemCode" class="editMe" data-toggle="tooltip" data-html="true" title="<em>@item.Forecast3_source1_period</em> - <u>@item.Forecast3_source1_year</u><br>Baseline: @Math.Round(Convert.ToDouble(item.Baseline3), 0, MidpointRounding.ToEven)<br>Purchase tool forecast: @Math.Round(Convert.ToDouble(item.Forecast3_source1), 0, MidpointRounding.ToEven) <br>Last saved forecast: -">@Math.Round(Convert.ToDouble(item.Forecast3_source2), 0, MidpointRounding.ToEven)</td>
                                                        <td data-periodo="f4" data-description="@item.Description" data-year="@item.Forecast4_source1_year" data-itemcode="@item.ItemCode" class="editMe" data-toggle="tooltip" data-html="true" title="<em>@item.Forecast4_source1_period</em> - <u>@item.Forecast4_source1_year</u><br>Baseline: @Math.Round(Convert.ToDouble(item.Baseline4), 0, MidpointRounding.ToEven)<br>Purchase tool forecast: @Math.Round(Convert.ToDouble(item.Forecast4_source1), 0, MidpointRounding.ToEven) <br>Last saved forecast: -">@Math.Round(Convert.ToDouble(item.Forecast4_source2), 0, MidpointRounding.ToEven)</td>
                                                        <td data-periodo="f5" data-description="@item.Description" data-year="@item.Forecast5_source1_year" data-itemcode="@item.ItemCode" class="editMe" data-toggle="tooltip" data-html="true" title="<em>@item.Forecast5_source1_period</em> - <u>@item.Forecast5_source1_year</u><br>Baseline: @Math.Round(Convert.ToDouble(item.Baseline5), 0, MidpointRounding.ToEven)<br>Purchase tool forecast: @Math.Round(Convert.ToDouble(item.Forecast5_source1), 0, MidpointRounding.ToEven) <br>Last saved forecast: -">@Math.Round(Convert.ToDouble(item.Forecast5_source2), 0, MidpointRounding.ToEven)</td>
                                                    </tr>


}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /grid item -->
                            <div class="form-group d-flex">
                                <i class="icon icon-forms-advanced mt-2 mr-1"></i>
                                <textarea id="commentagent" class="form-control border-0 shadow-none bg-focus"
                                          rows="2"
                                          placeholder="Comments">@ViewBag.comment</textarea>
                            </div>



<script src="~/Content/appcontent/assets/vendor/tableeditorinline/SimpleTableCellEditor.es6.min.js"></script>
<script>
    window.onload = function () {

            //Basic editor


            var simpleEditor = new SimpleTableCellEditor("data_table2");

            simpleEditor.SetEditableClass("editMe");

            $('#data_table2').on("cell:edited", function (event) {
                //console.log(event.oldValue + "changed to " + event.newValue);
                event.element.style.backgroundColor = "#ffeea5";

                var newval = event.newValue;
                var periodo = $(event.element).data("periodo")
                var itemcode = $(event.element).data("itemcode")
                var description = $(event.element).data("description")
                var iddatad = '@ViewBag.iddata';

                if (newval == "" || isNaN(newval)) { newval = 0; }

                $.ajax
                    ({
                        url: '/Operations/Save_agentforecast',
                        type: 'POST',
                        data: { 'itemcode': itemcode, 'description': description, 'periodo': periodo, 'newval': newval, 'iddata': iddatad },
                        success: function (result) {
                            if (result == "SUCCESS") {
                                var toast = swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });

                                toast({
                                    type: 'success',
                                    title: 'Data saved successfully.'
                                });


                            } else {
                                var toast = swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });

                                toast({
                                    type: 'info',
                                    title: 'Something went wrong, try again'
                                });
                            }


                        },
                        error: function () {

                        },
                    });

            });

            $('#commentagent').blur(function () {
                var comment = $.trim($("#commentagent").val());
                var iddatad = '@ViewBag.iddata';
                if (comment != "") {
                    // Guardamos si no viene vacio
                    $.ajax
                        ({
                            url: '/Operations/Save_dataComment',
                            type: 'POST',
                            data: { 'comment': comment, 'iddata': iddatad },
                            success: function (result) {
                                if (result == "SUCCESS") {
                                    var toast = swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 3000
                                    });

                                    toast({
                                        type: 'success',
                                        title: 'Data saved successfully.'
                                    });


                                } else {
                                    var toast = swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 3000
                                    });

                                    toast({
                                        type: 'info',
                                        title: 'Something went wrong, try again'
                                    });
                                }


                            },
                            error: function () {

                            },
                        });
                }
            });

    }
</script>