@model List<LimenawebApp.Models.view_MatrizMadre>
@{
    ViewBag.Title = "Distribuidora Limeña - New Data";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


                            <!-- Page Header -->
                            <div class="dt-page__header">
                                <h1 class="dt-page__title">New Data</h1>
                                <a href="@Url.Action("Purchase_data", "Operations")" class="btn btn-outline-info btn-sm">Back</a>

                                <div class="widget-action-link float-right">
                                    <a id="btnsaveproducts" href="#" class="btn btn-outline-primary">Save Data</a>

                                </div>
                            </div>
                            <!-- /page header -->
                            <!-- Grid Item -->
                            <!--main content wrapper-->


                            <div class="row">
                                <div class="col-xl-12">

                                    <!-- Card Title-->


                                    <div class="card card-shadow mb-4">
                                        <div class="card-header border-0">
                                            <div class="custom-title-wrap bar-primary">


                                                <div class="form-row">
                                                    <div class="col-3">
                                                        Category:
                                                        <select id="lstCategory" class="form-control" multiple="multiple"></select>
                                                    </div>
                                                    <div class="col-3">
                                                        Subcat:
                                                        <select id="lstSubCategory" class="form-control" multiple="multiple"></select>
                                                    </div>
                                                    <div class="col-3">
                                                        Brand:
                                                        <select id="lstBrands" class="form-control" multiple="multiple"></select>
                                                    </div>
                                                    <div class="col-3">
                                                        Vendor:
                                                        <select id="lstProvider" class="form-control" multiple="multiple"></select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card-body pt-3 pb-4" style="font-size:12px;line-height:1.5;">
                                            <div class="table-responsive">
                                                <table id="data_tableEditor2" class="table" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="no-sort">
                                                                <label class="ui-check m-0 ">
                                                                    <input type="checkbox" class="selectchkAll2" id="chk_all2" value="0">
                                                                    <i></i>
                                                                </label>
                                                            </th>
               
                                                            <th>COD PRODUCTO</th> 
                                                            <th>DESCRIPCION</th>
      
                                                            <th>PROVEEDOR</th>
                                                            <th>MARCA</th>
                                                            <th>CATEGORIA</th>
                                                            <th>SUB CATEGORIA</th>

                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                    </tfoot>
                                                    <tbody id="maintbbo">
                                                        @foreach (var item in Model)
                                                        {
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" value="0" class="selectchk2" id="chk_@item.ProdCodigo">
                                                            </td>
                                                            <td>@item.ProdCodigo</td>
                                                            <td>@item.ProdNombre</td>
                                                            <td>@item.ProvNombre</td>
                                                            <td>@item.Marca</td>
                                                            <td>@item.Category</td>
                                                            <td>@item.SubCategory</td>

                                                        </tr>
                                                        }
                                                    </tbody>

                                                </table>




                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <!-- /grid item -->



