@model IEnumerable<LimenawebApp.Models.Purchase_data>
@{
    ViewBag.Title = "Distribuidora Limeña - Purchase Data";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

                            <!-- Page Header -->
                            <div class="dt-page__header">
                                <nav class="mb-0 breadcrumb">
                                    <a href="javascript:void(0)" class="breadcrumb-item">Operations</a>
                                    <span class="active breadcrumb-item">SOP Tool</span>
                                </nav>
                            </div>
                            <!-- /page header -->
                            <!-- Grid Item -->
                            <div class="row">
                                <div class="col-md-4 col-12">
                         
                                        <!-- Card -->
                                        <div class="dt-card">

                                            <!-- Card Body -->
                                            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">
                                                    <!-- Media Body -->
                                                    <div class="media-body">
                                                        <div class="form-group row col-xl-12">
                                                            <label class="col-sm-12 col-form-label col-form-label-sm">Filter by Date</label>
                                                            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px;margin-left: 14px; margin-right:15px; border: 1px solid #ccc; width: 100%">
                                                                <i class="mdi mdi-calendar"></i>&nbsp;
                                                                <span></span> <i class="fa fa-caret-down"></i>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- /media body -->
                                            </div>
                                            <!-- /card body -->

                                        </div>
                                        <!-- /card -->
                             
                                </div>                                
                                <div class="col-md-4 col-12">
                                    <a href="@Url.Action("new_Data", "Operations")">
                                        <!-- Card -->
                                        <div class="dt-card">

                                            <!-- Card Body -->
                                            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                                              

                                                <!-- Media -->
                                                <div class="media">

                                                    <i class="icon icon-refer icon-5x mr-xl-5 mr-3 align-self-center"></i>

                                                    <!-- Media Body -->
                                                    <div class="media-body">
                                                        <p class="mb-1 h1">Process</p>
                                                        <span class="d-block text-light-gray">Click here to start a new data process</span>
                                                    </div>
                                                    <!-- /media body -->

                                                </div>

                                                <!-- /media -->

                                            </div>
                                            <!-- /card body -->

                                        </div>
                                        <!-- /card -->
                                    </a>
                                </div>


                                <div class="col-md-4 col-12">
                                    <a href="@Url.Action("ProductCatalog", "Operations")">
                                        <!-- Card -->
                                        <div class="dt-card">

                                            <!-- Card Body -->
                                            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">



                                                <!-- Media -->
                                                <div class="media">

                                                    <i class="icon icon-assignment icon-5x mr-xl-5 mr-3 align-self-center"></i>

                                                    <!-- Media Body -->
                                                    <div class="media-body">
                                                        <p class="mb-1 h1">Products Catalog</p>
                                                        <span class="d-block text-light-gray">Choose this option to go to the Products Catalog</span>
                                                    </div>
                                                    <!-- /media body -->

                                                </div>

                                                <!-- /media -->

                                            </div>
                                            <!-- /card body -->

                                        </div>
                                        <!-- /card -->
                                    </a>
                                </div>

                            </div>
                            <!--main content wrapper-->


                                        <div class="row">
                                            <div class="col-xl-12">
   
                                                        <div class="table-responsive">
                                                            <table id="data_table2" class="table table-hover table-custom" cellspacing="0">
                                                                <thead>
                                                                    @*<tr>
                                                    <th rowspan="2">ID</th>
                                                    <th rowspan="2">Date</th>
                                                    <th colspan="1">FILTERS</th>

                                                </tr>*@
                                                                    <tr>

                                                                        <th scope="col">ID</th>
                                                                        <th scope="col">DATE</th>
                                                                        <th scope="col">VENDOR</th>
                                                                        <th scope="col">CATEGORY</th>
                                                                        <th scope="col">SUB CATEGORY</th>
                                                                        <th scope="col">BRAND</th>
                                                                        <th scope="col">ACTIONS</th>
                                                                    </tr>
                                                                </thead>
                                                                <tfoot>
                                                                </tfoot>
                                                                <tbody>
                                                                    @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.ID_purchaseData</td>
                                                    <td style="font-size:11px;">@Convert.ToDateTime(item.Date_create).AddHours(-6)</td>
                                                    <td style="font-size:11px;">@item.Providers</td>
                                                    <td style="font-size:11px;">@item.Categories</td>
                                                    <td style="font-size:11px;">@item.SubCategories</td>
                                                    <td style="font-size:11px;">@item.Brands</td>
                                                    <td>
                                                        <a href="@Url.Action("Initial_forecast", "Operations", new { iddata = item.ID_purchaseData })" class="btn btn-sm btn-primary">Edit</a>
                                                        @if (item.query2 == "1")
    {
                                                    <a href="@Url.Action("PurchaseData_ForecastExport", "Operations", new { id = item.ID_purchaseData })" class="btn btn-sm btn-success">Export Forecast</a>

}


                                                        @if (item.query2 == "1")
    {

                                                    <a href="@Url.Action("new_purchaseData", "Operations", new { id = item.ID_purchaseData })" class="btn btn-sm btn-primary">OTB</a>
                                                    <a href="@Url.Action("PurchaseData_Export", "Operations", new { id = item.ID_purchaseData })" class="btn btn-sm btn-success">Export OTB</a>
}
                                                        <a href="#" id="@item.ID_purchaseData" onclick="Del_PurchaseData(this.id)" class="btn btn-sm btn-danger delbtn">Delete</a>
                                                    </td>
                                                </tr>
                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                
                                               
                                            </div>
                                        </div>

                            <!-- /grid item -->






<script>
  
        

            function Del_PurchaseData(id_data) {


                swal.fire({
                    title: 'Are you sure to delete this data?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3dba6f',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            url: '/Operations/Del_PurchaseData',
                            type: 'POST',
                            data: { 'id': id_data },
                            cache: false,
                            global: false,
                            success: function (result) {

                                if (result == "SUCCESS") {

                                    Swal.fire(
                                        'Data deleted!',
                                        'The Data has been deleted.',
                                        'success'
                                    )
                                    window.location.reload(true);
                                }
                                else {
                                    //alert("Something went wrong..");
                                    //toastr.info("Deleting details...", "Delete");
                                    repeatdel(id_data);

                                }


                            },
                            error: function (request) {
                                //alert("Something went wrong..");
                            }
                        });

                    }
                })
            }

            function repeatdel(id_data) {
                $.ajax({
                    url: '/Operations/Del_PurchaseData',
                    type: 'POST',
                    data: { 'id': id_data },
                    cache: false,
                    global: false,
                    success: function (result) {

                        if (result == "SUCCESS") {

                            Swal.fire(
                                'Data deleted!',
                                'The Data has been deleted.',
                                'success'
                            )
                            window.location.reload(true);
                        }
                        else {
                            //alert("Something went wrong..");
                            //toastr.info("Deleting details...", "Delete");
                            repeatdel(id_data);
                        }


                    },
                    error: function (request) {
                        //alert("Something went wrong..");
                    }
                });

            }

 
    
</script>
<script type="text/javascript">
    window.onload = function (e) {

        var flag = 0;


                //DATETIMEPICKER
 var t1 = "@ViewBag.filtrofechastart";
        var t2 = "@ViewBag.filtrofechaend";

        var start = moment(t1, "MM-DD-YYYY");
        var end = moment(t2, "MM-DD-YYYY");

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            if (flag == 0) {
                flag = 1;
            } else {
                filterSObydate();
            }


        }

        $('#reportrange').daterangepicker({

            startDate: start,
            endDate: end,
            autoApply: false,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);


        function filterSObydate() {
            var st = new Date($('#reportrange').data('daterangepicker').startDate);
            var ed = new Date($('#reportrange').data('daterangepicker').endDate);

            st = st.toLocaleDateString();
            ed = ed.toLocaleDateString();
            //colocamos la url de la demo
            var url = '@Url.Action("Purchase_data", "Operations", new { fstartd = "dad", fendd="tfe" })';
            url = url.replace('dad', st);
            var newurl = url;
            newurl = newurl.replace('tfe', ed);

            newurl = newurl.replace(/&amp;/g, "&");

            window.location.href = newurl;
        };


        $("#data_table2").DataTable({
            "lengthChange": false
        });
    }
</script>

