<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Distribuidora Limena - @ViewBag.Title</title>
    @if (ViewBag.Title == "Distribuidora Limeña - Líderes en productos latinos")
    {
        @Html.Partial("~/Views/Shared/Style_landingpage.cshtml")
    }
    else
    {
        @Html.Partial("~/Views/Shared/Style_main.cshtml")


    }


</head>
<body class="fixed-nav top-nav" >
    @if (ViewBag.Title == "Distribuidora Limeña - Líderes en productos latinos")
    {
        @Html.Partial("~/Views/Shared/Menu_landingpage.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/Footer_landingpage.cshtml")
    }
    else
    {
        @Html.Partial("~/Views/Shared/Header_main.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/Footer_main.cshtml")
        @Html.Partial("~/Views/Shared/RightSideBar_main.cshtml")
    }




</body>
@if (ViewBag.Title == "Distribuidora Limeña - Líderes en productos latinos")
{
    @Html.Partial("~/Views/Shared/Scripts_landingpage.cshtml")
}
else
{
    @Html.Partial("~/Views/Shared/Scripts_main.cshtml")


}
</html>
