
@{
    Layout = null;
}

<header class="dt-header">
    <!-- Header Top -->
    <div class="dt-header__top">

        <!-- Custom Container -->
        <div class="dt-container">

            <!-- Brand -->
            <div class="dt-brand">

                <!-- Brand tool -->
                <div class="dt-brand__tool d-md-none" data-toggle="main-sidebar">
                    <div class="hamburger-inner"></div>
                </div>
                <!-- /brand tool -->
                <!-- Brand logo -->
                <span class="dt-brand__logo">
                    <a class="dt-brand__logo-link" href="#">
                        <img class="dt-brand__logo-img d-none d-sm-inline-block" src="~/Content/main/assets/images/LogoLimenaWebIcono.png" alt="Limena">
                        <img class="dt-brand__logo-img d-sm-none" src="~/Content/main/assets/images/LogoLimenaWebIcono.png" alt="Limena">
                    </a>
                </span>
                <!-- /brand logo -->

            </div>
            <!-- /brand -->
            <!-- Header toolbar-->
            <div class="dt-header__toolbar">

                <!-- Header Menu Wrapper -->
                <div class="dt-nav-wrapper">

                    <!-- Header Menu -->
                    <!-- /header menu -->
                    <!-- Header Menu -->
                    <!-- /header menu -->
                    <!-- Header Menu -->
                    <ul class="dt-nav">
                        <li class="dt-nav__item dt-notification-app dropdown">

                            <!-- Dropdown Link -->
                            <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-apps icon-sm icon-fw"></i>
                                <span>Quick Access</span>
                            </a>
                            <!-- /dropdown link -->
                            <!-- Dropdown Option -->
                            <div class="dropdown-menu ps-custom-scrollbar ps" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(8px, 72px, 0px);">

                                <!-- Apps -->
                                <ul class="dt-app-list">
                                    @*<li class="dt-app-list__item">
                                        <a href="javascript:void(0)" class="dt-app-list__link">
                                            <img src="assets/images/icon/icon-account.png" alt="Google Account">
                                            <span class="dt-app-list__text">Account</span>
                                        </a>
                                    </li>*@

                                </ul>
                                <!-- /apps -->

                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                            </div>
                            <!-- /dropdown option -->

                        </li>
                    </ul>
                    <!-- Header Menu -->
                    <ul class="dt-nav">


                        <li class="dt-nav__item dt-notification dropdown">

                            <!-- Dropdown Link -->
                            <a href="#" class="dt-nav__link dropdown-toggle no-arrow" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-notification2 icon-fw dt-icon-alert icon-xl"></i>
                            </a>
                            <!-- /dropdown link -->
                            <!-- Dropdown Option -->
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                                <!-- Dropdown Menu Header -->
                                <div class="dropdown-menu-header">
                                    <h4 class="title">Notifications (0)</h4>

                                    <div class="ml-auto action-area">
                                        <a href="javascript:void(0)">Mark All Read</a> <a class="ml-2"
                                                                                          href="javascript:void(0)">
                                            <i class="icon icon-settings icon-lg text-light-gray"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- /dropdown menu header -->
                                <!-- Dropdown Menu Body -->
                                <div class="dropdown-menu-body ps-custom-scrollbar">

                                    <div class="h-auto">
                                        @*<!-- Media -->
                                        <a href="javascript:void(0)" class="media">

                                            <!-- Avatar -->
                                            <img class="dt-avatar mr-3"
                                                 src="https://via.placeholder.com/150x150" alt="User">
                                            <!-- avatar -->
                                            <!-- Media Body -->
                                            <span class="media-body">
                                                <span class="message">
                                                    <span class="user-name">Stella Johnson</span> and <span class="user-name">Chris Harris</span>
                                                    have birthdays today. Help them celebrate!
                                                </span>
                                                <span class="meta-date">8 hours ago</span>
                                            </span>
                                            <!-- /media body -->

                                        </a>
                                        <!-- /media -->*@
                                        
                                    </div>

                                </div>
                                <!-- /dropdown menu body -->
                                <!-- Dropdown Menu Footer -->
                                <div class="dropdown-menu-footer">
                                    <a href="javascript:void(0)" class="card-link">
                                        See All <i class="icon icon-arrow-right icon-fw"></i>
                                    </a>
                                </div>
                                <!-- /dropdown menu footer -->
                            </div>
                            <!-- /dropdown option -->

                        </li>


                    </ul>

                    @*<ul class="dt-nav">
                            <li class="dt-nav__item dropdown">

                                <!-- Dropdown Link -->
                                <a href="#" class="dt-nav__link dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="flag-icon flag-icon-us flag-icon-rounded flag-icon-lg"></i><span>en-uk</span>
                                </a>
                                <!-- /dropdown link -->
                                <!-- Dropdown Option -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <i class="flag-icon flag-icon-in mr-2"></i><span>Hi-In</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <i class="flag-icon flag-icon-cn mr-2"></i><span>Chinese</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <i class="flag-icon flag-icon-es mr-2"></i><span>Spanish</span>
                                    </a>
                                </div>
                                <!-- /dropdown option -->

                            </li>
                        </ul>*@
                    <!-- /header menu -->
                    <!-- Header Menu -->
                    <ul class="dt-nav">
                        <li class="dt-nav__item">

                            <!-- Dropdown Link -->
                            <a href="javascript:void(0)" class="dt-nav__link">
                                <i class="icon icon-question-circle icon-xl"></i>
                                <span>Help</span>
                            </a>
                            <!-- /dropdown link -->

                        </li>
                    </ul>
                    <!-- /header menu -->
                    <!-- Header Menu -->
                    <ul class="dt-nav">
                        <li class="dt-nav__item dropdown">

                            <!-- Dropdown Link -->
                            <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="dt-avatar size-50" src="https://via.placeholder.com/150x150"
                                     alt="Domnic Harris">
                                <span class="dt-avatar-info d-none d-sm-block pl-3">
                                    <span class="d-block text-light-primary f-10 mb-1">Welcome back!</span>
                                    <span class="dt-avatar-name">@ViewData["nameUser"]</span>
                                </span>
                            </a>
                            <!-- /dropdown link -->
                            <!-- Dropdown Option -->
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
                                    <span class="dt-avatar-info">
                                        <span class="dt-avatar-name">@ViewData["nameUser"]</span>
                                        @*<span class="f-12">Administrator</span>*@
                                    </span>
                                </div>
                                @*<a class="dropdown-item" href="javascript:void(0)">
                                    <i class="icon icon-settings icon-fw mr-2 mr-sm-1"></i>Setting
                                </a>*@
                                <a class="dropdown-item" href="@Url.Action("Log_out", "Home")">
                                    <i class="icon icon-editors icon-fw mr-2 mr-sm-1"></i>Sign out
                                </a>
                            </div>
                            <!-- /dropdown option -->

                        </li>
                    </ul>
                    <!-- /header menu -->
                </div>
                <!-- Header Menu Wrapper -->

            </div>
            <!-- /header toolbar -->

        </div>
        <!-- /custom container -->

    </div>
    <!-- /header top -->
    <!-- Header Bottom -->
    <div class="dt-header__bottom d-none d-md-block" style="background-color:#3d4a6d !important;">

        <!-- Custom Container -->
        <div class="dt-container">

            <!-- Navbar -->
            <ul class="navbar-nav navbar-expand-md dt-navbar">

                <!-- Nav Item HOME -->
                <li class="nav-item" id="home_menuSales" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Home</a>
                </li>
                <li class="nav-item" id="home_menuCustomers" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Home</a>
                </li>
                <li class="nav-item" id="home_menuOper" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Home</a>
                </li>
                <li class="nav-item" id="home_menuInventory" style="display:none">
                    <a class="nav-link" href="@Url.Action("Dashboard_Inventory", "Main")">Home</a>
                </li>
                <!-- /nav item -->
                <!-- Nav Item -->
                <li class="nav-item" id="accr_menu" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Accounts Receivable</a>
                </li>
                <!-- /nav item -->
                <!-- Nav Item -->
                <li class="nav-item mega-menu" id="marketing_menu" style="display:none">
                    <a class="nav-link" id="markNav" href="javascript:void(0)">Commercial</a>

                    <!-- Sub-menu -->
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <!-- Heading -->
                            <!-- /heading -->
                            <!-- Menus -->
                            <ul class="nav-item__inner">
                                <li class="nav-item" style="display:none" id="routes_submenu">
                                    <a href="page-blank.html?menu=affiliate-marketing" class="nav-link">
                                        <i class="icon icon-refer icon-fw icon-xl"></i>
                                        <span class="nav-text">Marketing Activities</span>
                                    </a>
                                </li>

                                <li class="nav-item" style="display:none" id="tasks_submenu">
                                    <a href="page-blank.html?menu=traffic" class="nav-link">
                                        <i class="icon icon-traffic icon-fw icon-xl"></i>
                                        <span class="nav-text">Surveys</span>
                                    </a>
                                </li>

                            </ul>
                            <!-- /menus -->
                        </li>

                        <li class="nav-item">
                            <!-- Heading -->
                            <h3 class="menu-heading">Sales Support</h3>
                            <!-- /heading -->
                            <!-- Menus -->
                            <ul class="nav-item__inner">
                                <li class="nav-item" id="ss4_submenu" style="display:none">
                                    <a href="page-blank.html?menu=shopping" class="nav-link">
                                        <i class="icon icon-shopping-cart icon-fw icon-xl"></i>
                                        <span class="nav-text">Credits Authorize</span>
                                    </a>
                                </li>

                                <li class="nav-item" id="ss5_submenu" style="display:none">
                                    <a href="page-blank.html?menu=wallet" class="nav-link">
                                        <i class="icon icon-revenue icon-fw icon-xl"></i>
                                        <span class="nav-text">Credits Request</span>
                                    </a>
                                </li>

                                <li class="nav-item" id="ss3_submenu" style="display:none">
                                    <a href="page-blank.html?menu=electronics" class="nav-link">
                                        <i class="icon icon-desktop icon-fw icon-xl"></i>
                                        <span class="nav-text">History</span>
                                    </a>
                                </li>

                                <li class="nav-item" id="ss1_submenu" style="display:none">
                                    <a href="page-blank.html?menu=my-cart" class="nav-link">
                                        <i class="icon icon-orders-new icon-fw icon-xl"></i>
                                        <span class="nav-text">Prices Request</span>
                                    </a>
                                </li>

                                <li class="nav-item" style="display:none" id="ss2_submenu">
                                    <a href="page-blank.html?menu=billing" class="nav-link">
                                        <i class="icon icon-invoice-new icon-fw icon-xl"></i>
                                        <span class="nav-text">Prices Request Settings</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- /menus -->
                        </li>

                        <li class="nav-item">
                            <!-- Heading -->
                            <h3 class="menu-heading">Reports</h3>
                            <!-- /heading -->
                            <!-- Menus -->
                            <ul class="nav-item__inner">
                                <li class="nav-item">
                                    <a href="page-blank.html?menu=gallery" class="nav-link">
                                        <i class="icon icon-camera icon-fw icon-xl"></i>
                                        <span class="nav-text">Daily Routes</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="page-blank.html?menu=restaurants" class="nav-link">
                                        <i class="icon icon-burger icon-fw icon-xl"></i>
                                        <span class="nav-text">Marketing Activities</span>
                                    </a>
                                </li>

                            </ul>
                            <!-- /menus -->
                        </li>
                    </ul>
                    <!-- /sub-menu -->
                </li>
                <!-- /nav item -->
                <!-- Nav Item -->
                <li class="nav-item" id="dsd_menu" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">DSD</a>

                    <!-- Sub-menu -->
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="page-blank.html?menu=monthly-plan" class="nav-link">
                                <i class="icon icon-calendar icon-fw icon-xl"></i>
                                <span class="nav-text">Inventory Transfer Request</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="page-blank.html?menu=early-plan" class="nav-link">
                                <i class="icon icon-invoice-new icon-fw icon-xl"></i>
                                <span class="nav-text">New Customer</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="page-blank.html?menu=customize-plan" class="nav-link">
                                <i class="icon icon-customizer icon-fw icon-xl"></i>
                                <span class="nav-text">Orders</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /sub-menu -->
                </li>
                <!-- /nav item -->
                <!-- Nav Item -->
                <li class="nav-item mega-menu" id="oper_menu" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Operations</a>

                    <!-- Sub-menu -->
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <!-- Heading -->
                            <h3 class="menu-heading">Invoices</h3>
                            <!-- /heading -->
                            <!-- Menus -->
                            <ul class="nav-item__inner">
                                <li class="nav-item" id="invo1_submenu" style="display:none">
                                    <a href="page-blank.html?menu=affiliate-marketing" class="nav-link">
                                        <i class="icon icon-refer icon-fw icon-xl"></i>
                                        <span class="nav-text">Planning</span>
                                    </a>
                                </li>

                                <li class="nav-item" id="invo2_submenu" style="display:none">
                                    <a href="@Url.Action("QualityControl_planning", "Invoices")" class="nav-link">
                                        <i class="icon icon-traffic icon-fw icon-xl"></i>
                                        <span class="nav-text">Quality Control</span>
                                    </a>
                                </li>
                                <li class="nav-item" id="invo3_submenu" style="display:none">
                                    <a href="page-blank.html?menu=traffic" class="nav-link">
                                        <i class="icon icon-traffic icon-fw icon-xl"></i>
                                        <span class="nav-text">Open Sales Orders</span>
                                    </a>
                                </li>

                            </ul>
                            <!-- /menus -->
                        </li>

                        <li class="nav-item">
                            <!-- Heading -->
                            <h3 class="menu-heading">Purchases</h3>
                            <!-- /heading -->
                            <!-- Menus -->
                            <ul class="nav-item__inner">
                                <li class="nav-item" id="operpur_submenu" style="display:none">
                                    <a href="page-blank.html?menu=shopping" class="nav-link">
                                        <i class="icon icon-shopping-cart icon-fw icon-xl"></i>
                                        <span class="nav-text">Data Center</span>
                                    </a>
                                </li>

                                <li class="nav-item" id="operpur2_submenu" style="display:none">
                                    <a href="page-blank.html?menu=wallet" class="nav-link">
                                        <i class="icon icon-revenue icon-fw icon-xl"></i>
                                        <span class="nav-text">Product Catalog</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- /menus -->
                        </li>

                        <li class="nav-item">
                            <!-- Heading -->
                            <h3 class="menu-heading">Reports</h3>
                            <!-- /heading -->
                            <!-- Menus -->
                            <ul class="nav-item__inner">
                                <li class="nav-item" id="reportop1_submenu" style="display:none">
                                    <a href="page-blank.html?menu=gallery" class="nav-link">
                                        <i class="icon icon-camera icon-fw icon-xl"></i>
                                        <span class="nav-text">Routes</span>
                                    </a>
                                </li>

                            </ul>
                            <!-- /menus -->
                        </li>
                    </ul>
                    <!-- /sub-menu -->
                </li>
                <!-- /nav item -->
                <li class="nav-item" id="inventory_menu" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Inventory</a>

                    <!-- Sub-menu -->
                    <ul class="sub-menu">
                        <li class="nav-item " id="dashboardinv_submenu">
                            <a href="@Url.Action("Dashboard_inventory", "Main")" class="nav-link">
                                <i class="icon icon-dashboard icon-fw icon-xl"></i>
                                <span class="nav-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item " id="stock_submenu" style="display:none">
                            <a href="@Url.Action("Projects", "Inventory")" class="nav-link">
                                <i class="icon icon-projects icon-fw icon-xl"></i>
                                <span class="nav-text">Projects</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /sub-menu -->
                </li>
                <!-- Nav Item -->
                <li class="nav-item" id="manag_menu" style="display:none">
                    <a class="nav-link" href="javascript:void(0)">Management</a>

                    <!-- Sub-menu -->
                    <ul class="sub-menu">

                        <li class="nav-item" id="users_submenu" style="display:none">
                            <a href="page-blank.html?menu=ask-demo" class="nav-link">
                                <i class="icon icon-question-circle icon-fw icon-xl"></i>
                                <span class="nav-text">Users</span>
                            </a>
                        </li>
                        <li class="nav-item" id="forms_submenu" style="display:none">
                            <a href="page-blank.html?menu=ask-demo" class="nav-link">
                                <i class="icon icon-question-circle icon-fw icon-xl"></i>
                                <span class="nav-text">FormsM Builder</span>
                            </a>
                        </li>
                        <li class="nav-item" id="newcustomers_submenu" style="display:none">
                            <a href="page-blank.html?menu=ask-demo" class="nav-link">
                                <i class="icon icon-question-circle icon-fw icon-xl"></i>
                                <span class="nav-text">New Customers</span>
                            </a>
                        </li>
                    </ul>
                    <!-- /sub-menu -->
                </li>
                <!-- /nav item -->
            </ul>
            <!-- /navbar -->
            <!-- Header Toolbar -->
            <div class="dt-header__toolbar d-none d-lg-flex">

                <!-- Header Menu Wrapper -->
                <div class="dt-nav-wrapper">


                    <!-- /header menu -->


                </div>
                <!-- /header menu wrapper -->

            </div>
            <!-- /header toolbar -->

        </div>
        <!-- /custom container -->

    </div>
    <!-- /header bottom -->

</header>