@model List<LimenawebApp.Controllers.InventoryController.TasksProj>
@{
    Layout = null;
    var lastArea = "";
    var lastBin = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/temp_head.cshtml")

</head>
<body>

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Header -->
            @Html.Partial("~/Views/Shared/temp_header.cshtml")
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                @Html.Partial("~/Views/Shared/main_sidebar.cshtml")
                <!-- /sidebar -->
                <!-- Custom Container -->
                <div class="dt-container">

                    <!-- Site Content Wrapper -->
                    <div class="dt-content-wrapper">

                        <!-- Site Content -->
                        <div class="dt-content">

                            <!-- Page Header -->
                            <div class="dt-page__header">

                                <ol class="breadcrumb" style="display:flow-root;">
                                    <li class="breadcrumb-item float-left"><a href="@Url.Action("Projects", "Inventory")">Back</a></li>
                                    <li class="breadcrumb-item float-right">Details</li>
                                    <li class="breadcrumb-item float-right">Projects </li>
                                    <li class="breadcrumb-item float-right">Inventory</li>



                                </ol>
                            </div>
                            <!-- /page header -->
                            <div class="dt-entry__header">

                                <!-- Entry Heading -->
                                <div class="dt-entry__heading">
                                    <h3 class="dt-entry__title">Project details: #@ViewBag.project.ID_project | @ViewBag.project.Name</h3>
                                </div>
                                <!-- /entry heading
                                <a href="javascript:void(0)" class="btn btn-shadow btn-default compose-btn btn-rounded" data-toggle="modal" data-target="#composeModal">
                                    <i class="icon icon-plus icon-fw mr-2"></i>New task
                                </a> -->
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <a href="@Url.Action("Binloc_tasks", "Inventory", new { idproj=ViewBag.project.ID_project, idtask=0, idbin=0})">
                                        <!-- Card -->
                                        <div class="dt-card">

                                            <!-- Card Body -->
                                            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                                                <span class="badge badge-success badge-top-right">&nbsp;&nbsp;</span>

                                                <!-- Media -->
                                                <div class="media">

                                                    <i class="icon icon-refer icon-5x mr-xl-5 mr-3 align-self-center"></i>

                                                    <!-- Media Body -->
                                                    <div class="media-body">
                                                        <p class="mb-1 h1">Process</p>
                                                        <span class="d-block text-light-gray">Click here to start or continue</span>
                                                    </div>
                                                    <!-- /media body -->

                                                </div>

                                                <!-- /media -->

                                            </div>
                                            <!-- /card body -->

                                        </div>
                                        <!-- /card -->
                                    </a>
                                </div>


                                <div class="col-md-6 col-12">
                                    <a href="@Url.Action("Binloc_newlocation", "Inventory", new { idproj=ViewBag.project.ID_project})">
                                        <!-- Card -->
                                        <div class="dt-card">

                                            <!-- Card Body -->
                                            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">

                               

                                                <!-- Media -->
                                                <div class="media">

                                                    <i class="icon icon-addnew icon-5x mr-xl-5 mr-3 align-self-center"></i>

                                                    <!-- Media Body -->
                                                    <div class="media-body">
                                                        <p class="mb-1 h1">New Location</p>
                                                        <span class="d-block text-light-gray">Choose this option if a product is located in an unregister Area</span>
                                                    </div>
                                                    <!-- /media body -->

                                                </div>

                                                <!-- /media -->

                                            </div>
                                            <!-- /card body -->

                                        </div>
                                        <!-- /card -->
                                    </a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <a href="@Url.Action("Binloc_lstproduct", "Inventory", new { idproj=ViewBag.project.ID_project})">
                                        <!-- Card -->
                                        <div class="dt-card">

                                            <!-- Card Body -->
                                            <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">



                                                <!-- Media -->
                                                <div class="media">

                                                    <i class="icon icon-assignment icon-5x mr-xl-5 mr-3 align-self-center"></i>

                                                    <!-- Media Body -->
                                                    <div class="media-body">
                                                        <p class="mb-1 h1">Assigned Products</p>
                                                        <span class="d-block text-light-gray">Choose this option if a product was assigned.</span>
                                                    </div>
                                                    <!-- /media body -->

                                                </div>

                                                <!-- /media -->

                                            </div>
                                            <!-- /card body -->

                                        </div>
                                        <!-- /card -->
                                    </a>
                                </div>


                                <div class="col-md-6 col-12">

                                    <!-- Card -->
                                    <div class="dt-card">

                                        <!-- Card Body -->
                                        <div class="dt-card__body p-xl-8 py-sm-8 py-6 px-4">
                                            <!-- Media -->
                                            <div class="media">

                                                <i class="icon icon-percentage icon-5x mr-xl-5 mr-3 align-self-center"></i>

                                                <!-- Media Body -->
                                                <div class="media-body">

                                                    <div>
                                                        <div class="dt-indicator-item__info" data-fill="@ViewBag.percenttotaltasks.ToString("N2")" data-max="100"
                                                             data-percent="true"
                                                             data-sufix="Job Success">
                                                            <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                                                            <div class="dt-indicator-item__bar">
                                                                <div class="dt-indicator-item__fill bg-success"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="d-block text-light-gray">My progress @ViewBag.texttotaltasks</span>
                                                </div>
                                                <!-- /media body -->

                                            </div>
                                            <!-- /media -->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /card -->

                                </div>
                            </div>
                            <br /><br />
                            <!-- Grid -->
                          

                                <!-- Grid Item -->
                               

                                    <!-- Module -->
                                    <div class="dt-module">


                                        <!-- /module sidebar -->
                                        <!-- Module Container -->
                                        <div class="dt-module__container col-xl-12">

                                            <!-- Module Header -->
                                            <div class="dt-module__header">
                                                <!-- Dropdown -->
                                                <div class="dropdown">


                                                </div>
                                                <!-- /dropdown <i class="icon icon-horizontal-more icon-xl"></i> -->
                                                <!-- Title -->
                                                <!-- Search Box -->
                                                <div class="search-box right-side-icon">
                                                    <input class="form-control form-control-lg" type="text" id="searchdiv"
                                                           placeholder="Search bin loc..." style="text-transform:uppercase">
                                                    <div  class="search-icon">
                                                        <i class="icon icon-search icon-lg"></i>
                                                    </div>
                                                </div>
                                                <!-- /search box -->
                                                <!-- Title -->
                                                <!-- Filter  <a class="dt-module__filter text-dark" href="javascript:void(0)">
                                                    <i class="icon icon-filter-new icon-xl"></i>
                                                </a>-->
                                                <!-- /filter -->

                                            </div>
                                            <!-- /module header -->
                                            <!-- Module Content -->
                                            <div class="dt-module__content ps-custom-scrollbar">

                                                <!-- Module Content Inner -->
                                                <div class="dt-module__content-inner">
                                                    @foreach (var binloc in Model)
                                                    {


                                                        if (lastArea != binloc.Area)
                                                        {
                                                            <h3 style="display:inline-block"><i class="icon icon-tag-o icon-fw icon-lg"></i> @binloc.Area</h3>
                                                        }
                                                        <!-- Module List -->
                                                            <div class="dt-module__list @binloc.BinCode.Substring(2)">

                                                                @if (lastBin != binloc.BinCode)
                                                                {
                                                                <h3  style="background-color:aliceblue;display:inline-block">@binloc.BinCode.Substring(2)</h3>
                                                                }

                                                                <!-- Module Heading -->

                                                                <h5 class="text-light-gray mb-2">Count: @binloc.Count</h5>
                                                                <!-- /module heading -->
                                                                <!-- Module Item -->
                                                                <div class="dt-module__list-item">

                                                                    <!-- Checkbox Icon -->
                                                                    <span class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-4">
                                                                        @if (binloc.ID_status == 2)
            {
                                                            <input id="icon-checkbox-@binloc.id" type="checkbox" checked disabled>
}
else
{
                                                            <input id="icon-checkbox-@binloc.id" type="checkbox" disabled>}
                                                                        <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-@binloc.id">
                                                                            <span class="unchecked">
                                                                                <i class="icon icon-circle-check-o icon-fw icon-1x text-light-gray"></i>
                                                                            </span>
                                                                            <span class="checked">
                                                                                <i class="icon icon-circle-check-o icon-fw icon-1x text-success"></i>
                                                                            </span>
                                                                        </label>
                                                                    </span>
                                                                    <!-- /checkbox icon -->
                                                                    <!-- Module Content -->

                                                                    @if (binloc.ItemCode == "")
        {

                                                            <a href="@Url.Action("Binloc_tasks", "Inventory", new { idproj=ViewBag.project.ID_project, idtask=binloc.id, idbin=binloc.idbinloc})"
                                                               class="dt-module__list-item-content">
                                                                NOT SELECTED
                                                            </a>


}
else
{
                                                            <a href="@Url.Action("Binloc_tasksEdit", "Inventory", new { idproj=ViewBag.project.ID_project, idtask=binloc.id, idbin=binloc.idbinloc})"
                                                               class="dt-module__list-item-content">
                                                                @binloc.ItemName
                                                            </a>
}
                                                                    <div>

                                                                        <div class="dt-module__list-item-info">
                                                                            @if (binloc.ID_status == 2)
                {<span style="font-size:10px;">@binloc.end_date.ToShortDateString() @binloc.end_date.ToShortTimeString()</span>}


                                                                        </div>
                                                                    </div>

                                                                    <!-- /module content -->
                                                                    <!-- Module Info -->
                                                                    @if (binloc.ID_status == 1)
        {<div class="dt-module__list-item-info">
                                                                <div class="badge-group">
                                                                    <span class="badge badge-warning">Waiting</span>
                                                                </div>


                                                            </div>}
                                                                    <!-- /module info -->
                                                                </div>
                                                                <!-- /module item -->
                                                                <!-- Module Heading -->
                                                                <br />


                                                            </div>

                                                        <!-- /module list -->
                                                        lastBin = binloc.BinCode;
                                                        lastArea = binloc.Area;
                                                    }



                                                </div>
                                                <!-- /module content inner -->

                                            </div>
                                            <!-- /module content -->

                                        </div>
                                        <!-- /module container -->
                                        <!-- Module Drawer -->

                                        <!-- /module drawer -->

                                    </div>
                                    <!-- /module -->

     
                            <!-- /grid -->

                        </div>
                        <!-- /site content -->

                    </div>
                    <!-- /site content wrapper -->

                </div>
                <!-- /custom Container -->

            </main>
            <!-- /main -->
            <!-- Footer -->
            <footer class="dt-footer">
                <div class="dt-container">
                    Copyright Distribuidora Limena © 2019
                </div>
            </footer>
            <!-- /footer -->

        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/main_Scripts.cshtml")
    @if (TempData["mensaje"] != null && TempData["mensaje"].ToString() == "1")
    {
        <script type="text/javascript">

            $(document).ready(function () {

                var toast = swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 5000
                });

                toast({
                    type: 'info',
                    title: 'You have finished all your tasks.'
                })

            });




        </script>
    }
    <script>
        $('#searchdiv').keyup(function () {
  
            if (this.value == '') {
                $('.dt-module__content-inner > div.dt-module__list').fadeIn(450);
            } else {
                $('.dt-module__content-inner > div.dt-module__list').hide();
                $(".dt-module__content-inner > div.dt-module__list[class*='" + this.value.toUpperCase() + "']").fadeIn(450);
              
            }

        });
    </script>
</body>
</html>
