@model IQueryable<LimenawebApp.Models.BI_Dim_Products>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/temp_head.cshtml")
    <link rel="stylesheet" type="text/css" href="~/Content/main/assets/js/custom/inputCalculator/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/Content/main/assets/js/custom/inputCalculator/css/jcalculator.css" media="screen">
</head>
<body>

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Header -->
            @Html.Partial("~/Views/Shared/temp_header.cshtml")
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                @Html.Partial("~/Views/Shared/main_sidebar.cshtml")
                <!-- /sidebar -->
                <!-- Custom Container -->
                <div class="dt-container">

                    <!-- Site Content Wrapper -->
                    <div class="dt-content-wrapper">

                        <!-- Site Content -->
                        <div class="dt-content">

                            <!-- Page Header -->
                            <div class="dt-page__header">
                                <ol class="breadcrumb" style="display:flow-root;">
                                    <li class="breadcrumb-item float-left"><a href="@Url.Action("Binloc_lstproduct", "Inventory", new { idproj=ViewBag.project.ID_project})">Back</a></li>
                                    <li class="breadcrumb-item float-right">Details</li>
                                    <li class="breadcrumb-item float-right">Projects </li>
                                    <li class="breadcrumb-item float-right">Inventory</li>



                                </ol>
                            </div>
                            <!-- /page header -->
                            <div class="dt-entry__header">

                                <!-- Entry Heading -->
                                <div class="dt-entry__heading">
                                    <h3 class="dt-entry__title">New Count </h3>
                                </div>
                                <!-- /entry heading
                        <a href="javascript:void(0)" class="btn btn-shadow btn-default compose-btn btn-rounded" data-toggle="modal" data-target="#composeModal">
                            <i class="icon icon-plus icon-fw mr-2"></i>New task
                        </a> -->
                            </div>
                            <div class="row">

                                <!-- Grid Item -->
                                <div class="col-xl-12">

                                    <!-- Card -->
                                    <div class="card dt-card-carousel">

                                        <!-- Card Body -->
                                        <div class="card-body p-0">
                                            <div class="row no-gutters h-100">


                                                <div class="col-md-12 order-sm-1">
                                                    <!-- Carousel -->
                                                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                                                        <!-- Card Body -->
                                                        <!-- /card body -->
                                                        <!-- Card Body -->
                                                        <!-- /card body -->
                                                        <!-- Card Body -->
                                                        <!-- /card body -->
                                                        <div class="owl-stage-outer">
                                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1018px;">
                                                          <div class="owl-item active" style="width: 339.203px;">
                                                                    <div class="card-body">

                                                                        <!-- Card Title-->
                                                                        <span class="d-block f-16 text-light-gray mb-2">Step-1: Add units control</span>

                                                                        <h4 id="descriptionD" name="descriptionD"></h4>
                                                                        <!-- Card Title-->
                                                                        <!-- Content Area -->
                                                                        <input id="IDProd" name="IDProd" hidden />



                                                                        <hr />

                                                                        <!-- Card Body -->
                                                                        <div class="dt-card__body p-0" >
                                                                            <!-- Widget -->
                                                                            <div id="productdetailsdiv" class="dt-widget dt-widget-hl-item dt-widget-hl-item-space dt-widget-mb-item dt-widget-hover-bg ">

                                                                                <!-- Widget Item -->
                                                                                <div class="dt-widget__item" id="control1">

                                                                                    <!-- Widget Info -->
                                                                                    <div class="dt-widget__info text-truncate">
                                                                                        <div class="dt-widget__title f-16 font-weight-500 text-truncate">

                                                                                            <select name="UOMlst" id="UOMlst" class="form-control">
                                                                                                <option value="0">Select UoM</option>
                                                                                            </select>
                                                                                            <br />
                                                                                            <div class="demonstration">
                                                                                                <input class="form-control" type="number" id="units" min="0" value="0" />
                                                                                            </div>




                                                                                            <br />


                                                                                            <!-- /content area -->

                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /widget info -->
                                                                                    <!-- Widget Extra -->
                                                                                    <div class="dt-widget__extra text-right">
                                                                                        <!-- Show Content -->
                                                                                        <!-- /show content -->
                                                                                        <!-- Hide Content -->
                                                                                        <div class="hide-content">
                                                                                            <!-- Action Button Group -->
                                                                                            <div class="action-btn-group">


                                                                                            </div>
                                                                                            <!-- /action button group -->
                                                                                        </div>
                                                                                        <!-- /hide content -->
                                                                                    </div>
                                                                                    <!-- /widget extra -->

                                                                                </div>
                                                                                <!-- /widgets item -->
                                                                                <!-- Card Header -->
                                                                                <div class="dt-card__header mb-5" id="newcontrol1">

                                                                                    <!-- Card Heading -->
                                                                                    <div class="dt-card__heading">

                                                                                    </div>
                                                                                    <!-- /card heading -->
                                                                                    <!-- Card Tools -->
                                                                                    <div class="dt-card__tools">
                                                                                        <button type="button" onclick="showControl2()" class="btn btn-success btn-xs">Add control</button>
                                                                                    </div>
                                                                                    <!-- /card tools -->

                                                                                </div>
                                                                                <!-- /card header -->
                                                                                <!-- Widget Item -->
                                                                                <div class="dt-widget__item" id="control2">

                                                                                    <!-- Widget Info -->
                                                                                    <div class="dt-widget__info text-truncate">
                                                                                        <div class="dt-widget__title f-16 font-weight-500 text-truncate">

                                                                                            <select name="UOMlst2" id="UOMlst2" style="width:100%" class="form-control">
                                                                                                <option value="0">Select UoM</option>
                                                                                            </select>
                                                                                            <br />
                                                                                            <div class="demonstration">
                                                                                                <input class="form-control" type="number" id="units2" min="0" value="0" />
                                                                                            </div>


                                                                                            <br />


                                                                                            <!-- /content area -->

                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /widget info -->
                                                                                    <!-- Widget Extra -->
                                                                                    <div class="dt-widget__extra text-right">
                                                                                        <!-- Show Content -->
                                                                                        <!-- /show content -->
                                                                                        <!-- Hide Content -->
                                                                                        <div class="hide-content">
                                                                                            <!-- Action Button Group -->
                                                                                            <div class="action-btn-group">

                                                                                                <button class="btn btn-default text-danger dt-fab-btn" id="trashcontrol2" onclick="hideControl2()">
                                                                                                    <i class="icon icon-trash icon-xl"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                            <!-- /action button group -->
                                                                                        </div>
                                                                                        <!-- /hide content -->
                                                                                    </div>
                                                                                    <!-- /widget extra -->

                                                                                </div>
                                                                                <!-- /widgets item -->
                                                                                <!-- Card Header -->
                                                                                <div class="dt-card__header mb-5" id="newcontrol2">

                                                                                    <!-- Card Heading -->
                                                                                    <div class="dt-card__heading">

                                                                                    </div>
                                                                                    <!-- /card heading -->
                                                                                    <!-- Card Tools -->
                                                                                    <div class="dt-card__tools">
                                                                                        <button type="button" onclick="showControl3()" class="btn btn-success btn-xs">Add control</button>
                                                                                    </div>
                                                                                    <!-- /card tools -->

                                                                                </div>
                                                                                <!-- /card header -->
                                                                                <!-- Widget Item -->
                                                                                <div class="dt-widget__item" id="control3">

                                                                                    <!-- Widget Info -->
                                                                                    <div class="dt-widget__info text-truncate">
                                                                                        <div class="dt-widget__title f-16 font-weight-500 text-truncate">

                                                                                            <select name="UOMlst3" id="UOMlst3" style="width:100%" class="form-control">
                                                                                                <option value="0">Select UoM</option>
                                                                                            </select>
                                                                                            <br />
                                                                                            <div class="demonstration">
                                                                                                <input class="form-control" type="number" id="units3" min="0" value="0" />
                                                                                            </div>


                                                                                            <br />


                                                                                            <!-- /content area -->

                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /widget info -->
                                                                                    <!-- Widget Extra -->
                                                                                    <div class="dt-widget__extra text-right">
                                                                                        <!-- Show Content -->
                                                                                        <!-- /show content -->
                                                                                        <!-- Hide Content -->
                                                                                        <div class="hide-content">
                                                                                            <!-- Action Button Group -->
                                                                                            <div class="action-btn-group">

                                                                                                <button class="btn btn-default text-danger dt-fab-btn" onclick="hideControl3()">
                                                                                                    <i class="icon icon-trash icon-xl"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                            <!-- /action button group -->
                                                                                        </div>
                                                                                        <!-- /hide content -->
                                                                                    </div>
                                                                                    <!-- /widget extra -->

                                                                                </div>
                                                                                <!-- /widgets item -->
                                                                                <!-- Card Header -->
                                                                                <!-- /card header -->
                                                                  
                                                                            </div>
                                                                                          <br /><br />
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                    <label>Actual Bin Location</label>
                                                                                    <select class="form-control" id="selAisle">
                                                                                        <option value="NA"></option>
                                                                                        <option value="GENERICO">GENERICO</option>
                                                                                        @foreach (var item in ViewBag.binloclst)
        {
                                                                                <option value="@item">@item.Substring(2)</option>
}

                                                                                    </select>
                                                                                </div>
                                                                                                                                                               
                                                                                <div class="col-md-2">
                                                                                    <label>Actual Count</label>
                                                                                    <input type="text" class="form-control" id="actualcount" value="@ViewBag.actualcount" disabled/>
                                                                                </div>
                                                                            </div><br />
                                                                                <textarea placeholder="Comments (optional)" id="messagetext" class="form-control" style="font-size:11px;"></textarea>
                                                                                <br /><br />
                                                                            <!-- /widget -->
                                                                        </div>
                                                                        <!-- /card body -->

                                                                        <br />
                                                                        <div class="float-right">
                                                                            <button id="saveExitbtn" class="btn btn-primary">Save and Exit</button>
                        
                                                                        </div>

                                                                    </div>
                                                                    <!-- /card -->








                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <!-- /carousel -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /card -->

                                </div>
                                <!-- /grid item -->
                            </div>

                        </div>
                        <!-- /site content -->

                    </div>
                    <!-- /site content wrapper -->

                </div>
                <!-- /custom Container -->

            </main>
            <!-- Modal -->

            <!-- /modal -->
            <!-- /main -->
            <!-- Footer -->
            <footer class="dt-footer">
                <div class="dt-container">
                    Copyright Distribuidora Limena © 2019
                </div>
            </footer>
            <!-- /footer -->

        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/main_Scripts.cshtml")
    <script src="~/Content/main/assets/js/custom/inputCalculator/js/jcalculator.js" type="text/javascript"></script>


    <script>

        $(document).ready(function () {
                $("#UOMlst").val('0').trigger("change");
                $("#units").val('0');
                hideControl2();
            hideControl3();
            $("#selAisle").select2();
            $("#productdetailsdiv").show();
            var IDProd = '@ViewBag.ItemCode';// Extract info from data-* attributes
            var Des = '@ViewBag.ItemName';

               $('input[name="IDProd"]').val(IDProd);
            $("#descriptionD").text(Des);
                try {
                    $.ajax
                        ({
                            url: '/Commercial/GetUOM',
                            type: 'POST',
                            datatype: 'application/json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                product: IDProd
                            }),
                            success: function (result) {
                                $("#UOMlst").html("");
                                $("#UOMlst").append($('<option></option>').val(0).html("Select an UoM"));

                                var count = 0;
                               
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));
                                    count++;
                                });
                     
                                $("#UOMlst2").html("");
                                $("#UOMlst2").append($('<option></option>').val(0).html("Select an UoM"));
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst2").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));

                                });
                                $("#UOMlst3").html("");
                                $("#UOMlst3").append($('<option></option>').val(0).html("Select an UoM"));
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst3").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));

                                });

                                controlnumber = count;

                                if (controlnumber == 0) { $('#control1').hide(); $('#newcontrol1').hide();}
                                if (controlnumber == 1) { $('#newcontrol1').hide(); $('#newcontrol2').hide();}

                                if (controlnumber == 2) { $('#newcontrol2').hide(); }
                                if (controlnumber == 3) { $('#newcontrol2').hide();}
                                //console.log(controlnumber);
                                try {
                                var storage = '@ViewBag.isstorage';
                                if (storage == '1') {

                                        $("#UOMlst").find("option:contains('CASE')").prop("selected", true).trigger('change');


                                    }
                                } catch{ }



                                owl.trigger('next.owl.carousel');
                                window.location = '#';

                            },
                            error: function () {
                                var o = new Option(uom, uom); o.innerHTML = uom; document.getElementById('UOMlst').appendChild(o);

                            },
                        });

                } catch{

                }

        });

        var owl = $('.dt-card-carousel .owl-carousel');
        var controlnumber = 0;
        function showControl2() {
            $('#newcontrol1').hide();
            $('#control2').show();

            if (controlnumber == 3) {
                $('#newcontrol2').show();
            }

        }
        function hideControl2() {
            $('#control2').hide();
            $('#newcontrol2').hide();
            $('#newcontrol1').show();

            $("#UOMlst2").val('0').trigger("change");
            $("#units2").val('0');

            $("#UOMlst2 option").attr('disabled', false);
        }

        function showControl3() {
            $('#newcontrol2').hide();
            $('#trashcontrol2').hide();
            $('#control3').show();

        }
        function hideControl3() {
            $('#control3').hide();
            $('#newcontrol2').show();
            $('#trashcontrol2').show();


            $("#UOMlst3").val('0').trigger("change");
            $("#units3").val('0');

        }

        $('#UOMlst').on('change', function () {
            $("#UOMlst2").val('0').trigger("change");
            $("#UOMlst3").val('0').trigger("change");
            $("#UOMlst2 option").prop("disabled", false);
            $("#UOMlst2 option").css("display", "block");
            $("#UOMlst3 option").prop("disabled", false);
            $("#UOMlst3 option").css("display", "block");

            if (this.value != 0) {
                $("#UOMlst2 option[value='" + this.value + "']").prop("disabled", true);
                $("#UOMlst2 option[value='" + this.value + "']").css("display", "none");
                $("#UOMlst3 option[value='" + this.value + "']").prop("disabled", true);
                $("#UOMlst3 option[value='" + this.value + "']").css("display", "none");
            }

        });
        $('#UOMlst2').on('change', function () {
            $("#UOMlst3").val('0').trigger("change");
            $("#UOMlst3 option").prop("disabled", false);
            $("#UOMlst3 option").css("display", "block");
            if (this.value != 0) {

                $("#UOMlst3 option[value='" + $('#UOMlst').val() + "']").prop("disabled", true);
                $("#UOMlst3 option[value='" + $('#UOMlst').val() + "']").css("display", "none");

                $("#UOMlst3 option[value='" + this.value + "']").prop("disabled", true);
                $("#UOMlst3 option[value='" + this.value + "']").css("display", "none");
            }

        });



        function changeproduct() {

            owl.trigger('prev.owl.carousel');
            $("#productdetailsdiv").show();
        }

            $(document).on("click", ".btnproduct", function () {
                var button = $(this);// Button that triggered the modal
                $("#UOMlst").val('0').trigger("change");
                $("#units").val('0');
                hideControl2();
                hideControl3();
                $("#productdetailsdiv").show();
                var IDProd = button.data("id");// Extract info from data-* attributes
                var Des = button.data("description");

                $('input[name="IDProd"]').val(IDProd);
                $("#descriptionD").text(Des);
                try {
                    $.ajax
                        ({
                            url: '/Commercial/GetUOM',
                            type: 'POST',
                            datatype: 'application/json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                product: IDProd
                            }),
                            success: function (result) {
                                $("#UOMlst").html("");
                                $("#UOMlst").append($('<option></option>').val(0).html("Select an UoM"));

                                var count = 0;

                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));
                                    count++;
                                });

                                $("#UOMlst2").html("");
                                $("#UOMlst2").append($('<option></option>').val(0).html("Select an UoM"));
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst2").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));

                                });
                                $("#UOMlst3").html("");
                                $("#UOMlst3").append($('<option></option>').val(0).html("Select an UoM"));
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst3").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));

                                });

                                controlnumber = count;

                                if (controlnumber == 0) { $('#control1').hide(); $('#newcontrol1').hide();}
                                if (controlnumber == 1) { $('#newcontrol1').hide(); $('#newcontrol2').hide();}

                                if (controlnumber == 2) { $('#newcontrol2').hide(); }
                                if (controlnumber == 3) { $('#newcontrol2').hide();}
                                //console.log(controlnumber);
                                try {
                                var storage = '@ViewBag.isstorage';
                                if (storage == '1') {

                                        $("#UOMlst").find("option:contains('CASE')").prop("selected", true).trigger('change');


                                    }
                                } catch{ }



                                owl.trigger('next.owl.carousel');
                                window.location = '#';

                            },
                            error: function () {
                                var o = new Option(uom, uom); o.innerHTML = uom; document.getElementById('UOMlst').appendChild(o);

                            },
                        });

                } catch{

                }


            });
        var table = $('#data_tableEditor').DataTable();


        $("#returnProduct").css("display", "none");
        function filter(clicked_id) {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            table.columns(0).search("" + clicked_id + "", true, false, true).draw();
            $("#mainsub > *").css('display', 'none')
            var x = document.getElementById(clicked_id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            brandfilter_clear();
            subfilter_clear();

            $("#mainbrands > *").css('display', 'none')

            $('.subbtnsl').removeClass('btnsel');
            $('.brandbtnsl').removeClass('btnsubsel');
            //$("#subfilter").css('display', 'block')
        }

        function filter_clear() {
            var table = $('#data_tableEditor').DataTable();
            table.columns(0).search("").draw();
            table.columns(1).search("").draw();
            table.columns(2).search("").draw();
            $("#mainsub > *").css('display', 'none')
            $("#mainbrands > *").css('display', 'none')
            $('.btnsl').removeClass('brandsbtnsl');
            $('.subbtnsl').removeClass('btnsel');
            $('.brandbtnsl').removeClass('btnsubsel');
        }
        function subfilter_clear() {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            //table.columns(3).search("").draw();
            table.columns(1).search("").draw();
            $('.subbtnsl').removeClass('btnsel');
            //$("#mainsub > *").css('display', 'none')
        }

        function subfilter(clicked_id) {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            table.columns(1).search("" + clicked_id + "", true, false, true).draw();
            $("#mainbrands > *").css('display', 'none')
            var x = document.getElementById(clicked_id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            $('.brandbtnsl').removeClass('btnsubsel');
            brandfilter_clear();
        }

        function brandfilter(clicked_id) {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            table.columns(2).search("" + clicked_id + "", true, false, true).draw();
            //$('.subbtnsl').removeClass('btnsubsel');
            $('.brandbtnsl').removeClass('btnsubsel');
        }

        function brandfilter_clear() {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            //table.columns(3).search("").draw();
            table.columns(2).search("").draw();
            $('.brandbtnsl').removeClass('btnsubsel');
            //$("#mainsub > *").css('display', 'none')
        }

        $(document).ready(function () {

            $('#units').calculator();
            $('#units2').calculator();
            $('#units3').calculator();

            //$('#control2').hide();
            //$('#newcontrol2').hide();
            //$('#control3').hide();
            //$('#newcontrol1').hide();


            //$("#mainsub > *").css('display', 'none')
            //$("#mainbrands > *").css('display', 'none')


            //$('.btnsl').on('click', function () {
            //    $('.btnsl').removeClass('brandsbtnsl');
            //    $(this).addClass('brandsbtnsl');
            //});

            //$('.subbtnsl').on('click', function () {
            //    $('.subbtnsl').removeClass('btnsel');
            //    $(this).addClass('btnsel');
            //});


            //$('.brandbtnsl').on('click', function () {
            //    $('.brandbtnsl').removeClass('btnsubsel');
            //    $(this).addClass('btnsubsel');
            //});
            //$("#optionsProduct").select2();

        });

        //$("#units").bootstrapNumber();
        //$("#units2").bootstrapNumber();
        //$("#units3").bootstrapNumber();

        $('#saveExitbtn').on('click', function () {
            $("#saveExitbtn").attr("disabled", true);


            var idtask = '@ViewBag.project.ID_project';

            var seluom1 = $("#UOMlst option:selected").text();
            var seluom1Code = $("#UOMlst").val();
            var seluom1Quantity = $("#units").val();

            var seluom2 = $("#UOMlst2 option:selected").text();
            var seluom2Code = $("#UOMlst2").val();

            var seluom2Quantity = $("#units2").val();

            var seluom3 = $("#UOMlst3 option:selected").text();
            var seluom3Code = $("#UOMlst3").val();
            var seluom3Quantity = $("#units3").val();



            var comment = $("#messagetext").val();
            var itemcode = $('input[name="IDProd"]').val();
            var itemname = $("#descriptionD").text();

            var aisle = $("#selAisle").val();
            var count = $("#actualcount").val();

            if (seluom1 == '0' || itemcode == '' || seluom1Quantity == '' || count == '0' || count == '') {
                $("#saveExitbtn").attr("disabled", false);
                var toast = swal.mixin({
                                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                toast({
                    type: 'info',
                    title: 'Please, fill all required data.'
                })

            } else {


            $.ajax
                ({
                    url: '/Inventory/SaveandExit_Product',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        idproj: idtask,
                        aisle: aisle,
                        conteo: count,
                        seluom1: seluom1,
                        seluom1Code: seluom1Code,
                        seluom1Quantity: seluom1Quantity,
                        seluom2: seluom2,
                        seluom2Code: seluom2Code,
                        seluom2Quantity: seluom2Quantity,
                        seluom3: seluom3,
                        seluom3Code: seluom3Code,
                        seluom3Quantity: seluom3Quantity,
                        seluom4: '',
                        seluom4Code: 0,
                        seluom4Quantity: 0,
                        comment: comment,
                        ItemCode: itemcode,
                        ItemName: itemname
                    }),
                    success: function (result) {
                        $("#saveExitbtn").attr("disabled", false);
                                    if (result == "SUCCESS") {
                                        var toast = swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            showConfirmButton: false,
                                            timer: 3000
                                        });

                                        toast({
                                            type: 'success',
                                            title: 'Data Saved.'
                                        })


                                        setTimeout(
                                            function () {
                                              window.location.href = '@Url.Action("Binloc_lstproduct", "Inventory", new { idproj = ViewBag.project.ID_project})';
                                            }, 2000);

                                    } else {
                                        var toast = swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            showConfirmButton: false,
                                            timer: 3000
                                        });

                                        toast({
                                            type: 'warning',
                                            title: 'Something went wrong, try again.'
                                        })
                                    }



                    },
                    error: function () {
                        $("#saveExitbtn").attr("disabled", false);
                    },
                });
            }
            

        });


    </script>
</body>
</html>
