@model IQueryable<LimenawebApp.Models.BI_Dim_Products>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/temp_head.cshtml")
</head>
<body>

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Header -->
            @Html.Partial("~/Views/Shared/temp_header.cshtml")
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                @Html.Partial("~/Views/Shared/main_sidebar.cshtml")
                <!-- /sidebar -->
                <!-- Custom Container -->
                <div class="dt-container">

                    <!-- Site Content Wrapper -->
                    <div class="dt-content-wrapper">

                        <!-- Site Content -->
                        <div class="dt-content">

                            <!-- Page Header -->
                            <div class="dt-page__header">
                                <ol class="breadcrumb" style="display:flow-root;">
                                    <li class="breadcrumb-item float-left"><a href="@Url.Action("Binloc", "Inventory", new { id=ViewBag.project.ID_project})">Back</a></li>
                                    <li class="breadcrumb-item float-right">Details</li>
                                    <li class="breadcrumb-item float-right">Projects </li>
                                    <li class="breadcrumb-item float-right">Inventory</li>



                                </ol>
                            </div>
                            <!-- /page header -->
                            <div class="dt-entry__header">

                                <!-- Entry Heading -->
                                <div class="dt-entry__heading">
                                    <h3 class="dt-entry__title">Bin Location: @ViewBag.binloc.BinCode.Substring(2) | Count: @ViewBag.binloc.LstTasks[0].Count</h3>
                                </div>
                                <!-- /entry heading
                    <a href="javascript:void(0)" class="btn btn-shadow btn-default compose-btn btn-rounded" data-toggle="modal" data-target="#composeModal">
                        <i class="icon icon-plus icon-fw mr-2"></i>New task
                    </a> -->
                            </div>
                            <div class="row">

                                <!-- Grid Item -->
                                <div class="col-xl-12">

                                    <!-- Card -->
                                    <div class="card dt-card-carousel">

                                        <!-- Card Body -->
                                        <div class="card-body p-0">
                                            <div class="row no-gutters h-100">


                                                <div class="col-md-12 order-sm-1">
                                                    <!-- Carousel -->
                                                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                                                        <!-- Card Body -->
                                                        <!-- /card body -->
                                                        <!-- Card Body -->
                                                        <!-- /card body -->
                                                        <!-- Card Body -->
                                                        <!-- /card body -->
                                                        <div class="owl-stage-outer">
                                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1018px;">
                                                                <div class="owl-item active" style="width: 339.203px;">
                                                                    <div class="card-body">

                                                                        <!-- Card Title-->
                                                                        <span class="d-block f-16 text-light-gray mb-2">Step-1: Select a product</span>

                                                                        <!-- Card Title-->
                                                                        <!-- Content Area -->
                                                                        <div class="custom-post-title">
                                                                            <div class=" mt-2">

                                                                                @foreach (var itemc in ViewBag.lstCategories)
                                                                    {
                                                                        <button id="btn_@itemc" type="button" style="margin-top: 10px;" class="btn btn-outline-primary form-pill btnsl" onclick="filter('@itemc')">@itemc</button>
                                                        }
                                                                                <button type="button" class="btn btn-light form-pill" style="margin-top: 10px;" onclick="filter_clear()">Clear filters</button>

                                                                            </div><hr />
                                                                            <div id="mainsub">

                                                                                @foreach (var itemc in ViewBag.lstCategories)
                                                                    {
                                                                        <div class="mt-2" id="@itemc">
                                                                            @foreach (var itemsc in ViewBag.lstsubCategories)
                                                                {
                                                                    if (itemsc.category == itemc)
                                                                    {
                                                                        <button id="subbtn_@itemsc.id" type="button" style="margin-top: 10px;" class="btn btn-outline-warning form-pill subbtnsl" onclick="subfilter('@Convert.ToString(itemsc.name).Replace("'", "")')">@itemsc.name</button>
                                                        }

                                                    }
                                                                            @*<button id="subfilter" type="button" class="btn btn-light form-pill" style="margin-top: 10px;" onclick="subfilter_clear()">Clear Sub filters</button>*@
                                                                        </div>}

                                                                            </div><hr />
                                                                            <div id="mainbrands">

                                                                                @foreach (var itemc in ViewBag.lstsubCategories)
                                                                    {
                                                                        <div class="mt-2" id="@itemc.name">
                                                                            @foreach (var itemsc in ViewBag.lstBrands)
                                                                {
                                                                    if (itemsc.category == itemc.name)
                                                                    {
                                                                        <button id="brandbtn_@itemsc.id" type="button" style="margin-top: 10px;" class="btn btn-light form-pill brandbtnsl" onclick="brandfilter('@Convert.ToString(itemsc.name).Replace("'", "")')">@itemsc.name</button>
                                                        }

                                                    }

                                                                        </div>}

                                                                            </div>
                                                                        </div>
                                                                        <br /><br />
                                                                        <div class="table-responsive">
                                                                            <table id="data_tableEditor" class="table table-bordered table-striped" cellspacing="0">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>CATEGORY</th>
                                                                                        <th>SUBCATEGORY</th>
                                                                                        <th>BRAND</th>

                                                                                        <th>PRODUCT</th>


                                                                                        <th>ACTIONS</th>


                                                                                    </tr>
                                                                                </thead>
                                                                                <tfoot>
                                                                                </tfoot>
                                                                                <tbody>
                                                                                    @foreach (var product in Model)
                                                                        {
                                                                            <tr>
                                                                                <td>@product.category_name</td>
                                                                                <td>@product.subcategory_name.Replace("'", "")</td>
                                                                                <td>@product.Brand_Name.Replace("'", "")</td>

                                                                                <td>@product.Product</td>


                                                                                <td>
                                                                                    <button id="btntd_@product.id" type="button" data-ID="@product.id" data-description="@product.Product" class="btn btn-sm btn-primary owl-next btnproduct">Add</button>
                                                                                </td>
                                                                            </tr>
                                                            }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>

                                                                    </div>
                                                                </div><div class="owl-item" style="width: 339.203px;">
                                                                    <div class="card-body">

                                                                        <!-- Card Title-->
                                                                        <span class="d-block f-16 text-light-gray mb-2">Step-2: Add units control</span>

                                                                        <h4 id="descriptionD" name="descriptionD"></h4>
                                                                        <!-- Card Title-->
                                                                        <!-- Content Area -->
                                                                        <input id="IDProd" name="IDProd" hidden />



                                                                        <hr />

                                                                        <!-- Card Body -->
                                                                        <div class="dt-card__body p-0">
                                                                            <!-- Widget -->
                                                                            <div class="dt-widget dt-widget-hl-item dt-widget-hl-item-space dt-widget-mb-item dt-widget-hover-bg">

                                                                                <!-- Widget Item -->
                                                                                <div class="dt-widget__item" id="control1">

                                                                                    <!-- Widget Info -->
                                                                                    <div class="dt-widget__info text-truncate">
                                                                                        <div class="dt-widget__title f-16 font-weight-500 text-truncate">

                                                                                            <select name="UOMlst" id="UOMlst" class="form-control">
                                                                                                <option value="0">Select UoM</option>
                                                                                            </select>
                                                                                            <br />
                                                                                            <input class="form-control" type="number" id="units" min="0" value="0" />


                                                                                            <br />


                                                                                            <!-- /content area -->

                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /widget info -->
                                                                                    <!-- Widget Extra -->
                                                                                    <div class="dt-widget__extra text-right">
                                                                                        <!-- Show Content -->
                                                                                        <!-- /show content -->
                                                                                        <!-- Hide Content -->
                                                                                        <div class="hide-content">
                                                                                            <!-- Action Button Group -->
                                                                                            <div class="action-btn-group">


                                                                                            </div>
                                                                                            <!-- /action button group -->
                                                                                        </div>
                                                                                        <!-- /hide content -->
                                                                                    </div>
                                                                                    <!-- /widget extra -->

                                                                                </div>
                                                                                <!-- /widgets item -->
                                                                                <!-- Card Header -->
                                                                                <div class="dt-card__header mb-5" id="newcontrol1">

                                                                                    <!-- Card Heading -->
                                                                                    <div class="dt-card__heading">

                                                                                    </div>
                                                                                    <!-- /card heading -->
                                                                                    <!-- Card Tools -->
                                                                                    <div class="dt-card__tools">
                                                                                        <button type="button" onclick="showControl2()" class="btn btn-success btn-xs">Add control</button>
                                                                                    </div>
                                                                                    <!-- /card tools -->

                                                                                </div>
                                                                                <!-- /card header -->
                                                                                <!-- Widget Item -->
                                                                                <div class="dt-widget__item" id="control2">

                                                                                    <!-- Widget Info -->
                                                                                    <div class="dt-widget__info text-truncate">
                                                                                        <div class="dt-widget__title f-16 font-weight-500 text-truncate">

                                                                                            <select name="UOMlst2" id="UOMlst2" style="width:100%" class="form-control">
                                                                                                <option value="0">Select UoM</option>
                                                                                            </select>
                                                                                            <br />
                                                                                            <input class="form-control" type="number" id="units2" min="0" value="0" />


                                                                                            <br />


                                                                                            <!-- /content area -->

                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /widget info -->
                                                                                    <!-- Widget Extra -->
                                                                                    <div class="dt-widget__extra text-right">
                                                                                        <!-- Show Content -->
                                                                                        <!-- /show content -->
                                                                                        <!-- Hide Content -->
                                                                                        <div class="hide-content">
                                                                                            <!-- Action Button Group -->
                                                                                            <div class="action-btn-group">

                                                                                                <button class="btn btn-default text-danger dt-fab-btn" id="trashcontrol2" onclick="hideControl2()">
                                                                                                    <i class="icon icon-trash icon-xl"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                            <!-- /action button group -->
                                                                                        </div>
                                                                                        <!-- /hide content -->
                                                                                    </div>
                                                                                    <!-- /widget extra -->

                                                                                </div>
                                                                                <!-- /widgets item -->
                                                                                <!-- Card Header -->
                                                                                <div class="dt-card__header mb-5" id="newcontrol2">

                                                                                    <!-- Card Heading -->
                                                                                    <div class="dt-card__heading">

                                                                                    </div>
                                                                                    <!-- /card heading -->
                                                                                    <!-- Card Tools -->
                                                                                    <div class="dt-card__tools">
                                                                                        <button type="button" onclick="showControl3()" class="btn btn-success btn-xs">Add control</button>
                                                                                    </div>
                                                                                    <!-- /card tools -->

                                                                                </div>
                                                                                <!-- /card header -->
                                                                                <!-- Widget Item -->
                                                                                <div class="dt-widget__item" id="control3">

                                                                                    <!-- Widget Info -->
                                                                                    <div class="dt-widget__info text-truncate">
                                                                                        <div class="dt-widget__title f-16 font-weight-500 text-truncate">

                                                                                            <select name="UOMlst3" id="UOMlst3" style="width:100%" class="form-control">
                                                                                                <option value="0">Select UoM</option>
                                                                                            </select>
                                                                                            <br />
                                                                                            <input class="form-control" type="number" id="units3" min="0" value="0" />


                                                                                            <br />


                                                                                            <!-- /content area -->

                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- /widget info -->
                                                                                    <!-- Widget Extra -->
                                                                                    <div class="dt-widget__extra text-right">
                                                                                        <!-- Show Content -->
                                                                                        <!-- /show content -->
                                                                                        <!-- Hide Content -->
                                                                                        <div class="hide-content">
                                                                                            <!-- Action Button Group -->
                                                                                            <div class="action-btn-group">

                                                                                                <button class="btn btn-default text-danger dt-fab-btn" onclick="hideControl3()">
                                                                                                    <i class="icon icon-trash icon-xl"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                            <!-- /action button group -->
                                                                                        </div>
                                                                                        <!-- /hide content -->
                                                                                    </div>
                                                                                    <!-- /widget extra -->

                                                                                </div>
                                                                                <!-- /widgets item -->
                                                                                <!-- Card Header -->
                                                            
                                                                                <!-- /card header -->
                                                                                <br /><br />
                                                                                <textarea placeholder="Comments (optional)" id="messagetext" class="form-control" style="font-size:11px;"></textarea>
                                                                                <br /><br />
                                                                            </div>

                                                                            <!-- /widget -->
                                                                        </div>
                                                                        <!-- /card body -->

                                                                        <button class="btn btn-outline-primary" onclick="changeproduct()">Change product</button>

                                                                        <div class="float-right">
                                                                            <a href="@Url.Action("Binloc","Inventory")" class="btn btn-outline-primary">Save and Exit</a>
                                                                            <button class="btn btn-primary" onClick="window.location.reload();">Save and Next</button>
                                                                            <div class="mb-3">
                                                                                <a href="#" class="d-flex align-items-center">

                                                                                    <span class="text-dark f-12">You can follow the process or exit to skip some bin locations</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /card -->








                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- /carousel -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /card -->

                                </div>
                                <!-- /grid item -->
                            </div>

                        </div>
                        <!-- /site content -->

                    </div>
                    <!-- /site content wrapper -->

                </div>
                <!-- /custom Container -->

            </main>
            <!-- /main -->
            <!-- Footer -->
            <footer class="dt-footer">
                <div class="dt-container">
                    Copyright Distribuidora Limena © 2019
                </div>
            </footer>
            <!-- /footer -->

        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/main_Scripts.cshtml")
    <script>
        var owl = $('.dt-card-carousel .owl-carousel');
        var controlnumber = 0;
        function showControl2() {
            $('#newcontrol1').hide();
            $('#control2').show();

            if (controlnumber == 3) {
                $('#newcontrol2').show();
            }
            
        }
        function hideControl2() {
            $('#control2').hide();
            $('#newcontrol2').hide();
            $('#newcontrol1').show();

            $("#UOMlst2").val('0').trigger("change");
            $("#units2").val('0');
   
            $("#UOMlst2 option").attr('disabled', false);
        }

        function showControl3() {
            $('#newcontrol2').hide();
            $('#trashcontrol2').hide();
            $('#control3').show();
          
        }
        function hideControl3() {
            $('#control3').hide();
            $('#newcontrol2').show();
            $('#trashcontrol2').show();
 

            $("#UOMlst3").val('0').trigger("change");
            $("#units3").val('0');

        }

        $('#UOMlst').on('change', function () {
            $("#UOMlst2").val('0').trigger("change");
            $("#UOMlst3").val('0').trigger("change");
            $("#UOMlst2 option").prop("disabled", false);
            $("#UOMlst2 option").css("display", "block"); 
            $("#UOMlst3 option").prop("disabled", false);
            $("#UOMlst3 option").css("display", "block"); 
            
            if (this.value != 0) {
                $("#UOMlst2 option[value='" + this.value + "']").prop("disabled", true); 
                $("#UOMlst2 option[value='" + this.value + "']").css("display", "none");   
                $("#UOMlst3 option[value='" + this.value + "']").prop("disabled", true); 
                $("#UOMlst3 option[value='" + this.value + "']").css("display", "none"); 
            }
            
        });
        $('#UOMlst2').on('change', function () {
            $("#UOMlst3").val('0').trigger("change");
            $("#UOMlst3 option").prop("disabled", false);
            $("#UOMlst3 option").css("display", "block"); 
            if (this.value != 0) {

                $("#UOMlst3 option[value='" + $('#UOMlst').val() + "']").prop("disabled", true);
                $("#UOMlst3 option[value='" + $('#UOMlst').val() + "']").css("display", "none"); 

                $("#UOMlst3 option[value='" + this.value + "']").prop("disabled", true);
                $("#UOMlst3 option[value='" + this.value + "']").css("display", "none"); 
            }

        });




        function changeproduct() {
            owl.trigger('prev.owl.carousel');

        }
            $(document).on("click", ".btnproduct", function () {
                var button = $(this);// Button that triggered the modal
                $("#UOMlst").val('0').trigger("change");
                $("#units").val('0');
                hideControl2();
                hideControl3();

                var IDProd = button.data("id");// Extract info from data-* attributes
                var Des = button.data("description");

                $('input[name="IDProd"]').val(IDProd);
                $("#descriptionD").text(Des);
                try {
                    $.ajax
                        ({
                            url: '/Commercial/GetUOM',
                            type: 'POST',
                            datatype: 'application/json',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                product: IDProd
                            }),
                            success: function (result) {
                                $("#UOMlst").html("");
                                $("#UOMlst").append($('<option></option>').val(0).html("Select an UoM"));

                                var count = 0;

                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));
                                    count++;
                                });
                                
                                $("#UOMlst2").html("");
                                $("#UOMlst2").append($('<option></option>').val(0).html("Select an UoM"));
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst2").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));

                                });
                                $("#UOMlst3").html("");
                                $("#UOMlst3").append($('<option></option>').val(0).html("Select an UoM"));
                                $.each($.parseJSON(result), function (i, uomtype) {

                                    $("#UOMlst3").append
                                        ($('<option></option>').val(uomtype.UOMEntry).html(uomtype.UOM));

                                });

                                controlnumber = count;

                                if (controlnumber == 0) { $('#control1').hide(); $('#newcontrol1').hide();}
                                if (controlnumber == 1) { $('#newcontrol1').hide(); $('#newcontrol2').hide();}
                                
                                if (controlnumber == 2) { $('#newcontrol2').hide(); }
                                if (controlnumber == 3) { $('#newcontrol2').hide();}
                                console.log(controlnumber);

                                owl.trigger('next.owl.carousel');
                                window.location = '#';

                            },
                            error: function () {
                                var o = new Option(uom, uom); o.innerHTML = uom; document.getElementById('UOMlst').appendChild(o);

                            },
                        });

                } catch{

                }


            });
        var table = $('#data_tableEditor').DataTable();


        $("#returnProduct").css("display", "none");
        function filter(clicked_id) {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            table.columns(0).search("" + clicked_id + "", true, false, true).draw();
            $("#mainsub > *").css('display', 'none')
            var x = document.getElementById(clicked_id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            brandfilter_clear();
            subfilter_clear();

            $("#mainbrands > *").css('display', 'none')

            $('.subbtnsl').removeClass('btnsel');
            $('.brandbtnsl').removeClass('btnsubsel');
            //$("#subfilter").css('display', 'block')
        }

        function filter_clear() {
            var table = $('#data_tableEditor').DataTable();
            table.columns(0).search("").draw();
            table.columns(1).search("").draw();
            table.columns(2).search("").draw();
            $("#mainsub > *").css('display', 'none')
            $("#mainbrands > *").css('display', 'none')
            $('.btnsl').removeClass('brandsbtnsl');
            $('.subbtnsl').removeClass('btnsel');
            $('.brandbtnsl').removeClass('btnsubsel');
        }
        function subfilter_clear() {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            //table.columns(3).search("").draw();
            table.columns(1).search("").draw();
            $('.subbtnsl').removeClass('btnsel');
            //$("#mainsub > *").css('display', 'none')
        }

        function subfilter(clicked_id) {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            table.columns(1).search("" + clicked_id + "", true, false, true).draw();
            $("#mainbrands > *").css('display', 'none')
            var x = document.getElementById(clicked_id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            $('.brandbtnsl').removeClass('btnsubsel');
            brandfilter_clear();
        }

        function brandfilter(clicked_id) {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            table.columns(2).search("" + clicked_id + "", true, false, true).draw();
            //$('.subbtnsl').removeClass('btnsubsel');
            $('.brandbtnsl').removeClass('btnsubsel');
        }

        function brandfilter_clear() {
            var table = $('#data_tableEditor').DataTable();

            //table.columns(4).search("").draw();
            //table.columns(3).search("").draw();
            table.columns(2).search("").draw();
            $('.brandbtnsl').removeClass('btnsubsel');
            //$("#mainsub > *").css('display', 'none')
        }

        $(document).ready(function () {
            $('#control2').hide();
            $('#newcontrol2').hide();
            $('#control3').hide();
            $('#newcontrol1').hide();


            $("#mainsub > *").css('display', 'none')
            $("#mainbrands > *").css('display', 'none')


            $('.btnsl').on('click', function () {
                $('.btnsl').removeClass('brandsbtnsl');
                $(this).addClass('brandsbtnsl');
            });

            $('.subbtnsl').on('click', function () {
                $('.subbtnsl').removeClass('btnsel');
                $(this).addClass('btnsel');
            });


            $('.brandbtnsl').on('click', function () {
                $('.brandbtnsl').removeClass('btnsubsel');
                $(this).addClass('btnsubsel');
            });

       
        });

        $("#units").bootstrapNumber();
        $("#units2").bootstrapNumber();
        $("#units3").bootstrapNumber();


    </script>
</body>
</html>
