
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/temp_head.cshtml")

</head>
<body>

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Header -->
            @Html.Partial("~/Views/Shared/temp_header.cshtml")
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                @Html.Partial("~/Views/Shared/main_sidebar.cshtml")
                <!-- /sidebar -->
                <!-- Custom Container -->
                <div class="dt-container">

                    <!-- Site Content Wrapper -->
                    <div class="dt-content-wrapper">

                        <!-- Site Content -->
                        <div class="dt-content">

                            <!-- Page Header -->
                            <div class="dt-page__header">

                                <ol class="breadcrumb" style="display:flow-root;">
                                    <li class="breadcrumb-item float-left"><a href="@Url.Action("Projects", "Inventory")">Back</a></li>
                                    <li class="breadcrumb-item float-right">Details</li>
                                    <li class="breadcrumb-item float-right">Projects </li>
                                    <li class="breadcrumb-item float-right">Inventory</li>



                                </ol>
                            </div>
                            <!-- /page header -->
                            <div class="dt-entry__header">

                                <!-- Entry Heading -->
                                <div class="dt-entry__heading">
                                    <h3 class="dt-entry__title">Project details: #001</h3>
                                </div>
   
                            </div>
                            <!-- Grid -->
                            <div class="row">

                                <!-- Grid Item -->
                                <div class="col-xl-12">

                                    <!-- Card -->
                                    <div class="dt-card">

                                        <!-- Card Body -->
                                        <div class="dt-card__body">

                                            <!-- List -->
                                            <div class="d-sm-flex flex-sm-row">

                                                <!-- User Avatar
                                    <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0"
                                         src="https://via.placeholder.com/150x150" alt="User">
                                    <!-- /user avatar-->
                                                <!-- Content -->
                                                <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                                                    <div class="user-detail mb-3">
                                                        <span class="user-name">Toma de inventario anual</span>
                                                        <span class="dt-separator-v">&nbsp;</span>
                                                        <span class="badge sm badge badge-success mb-1 mr-1">In progress</span>
                                                    </div>
                                                    <div style="text-align:justify;">

                                                        Toma de inventario anual de productos en almacen distribuido por las areas de DRY, COOLER, REFRIGERATED.

                                                    </div>

                                                    <span class="min-w-150 d-inline-block border-top mb-2"></span>
                                                    <div class="d-flex flex-wrap mb-4">
                                                        <div class="pr-3">Total products: <span class="text-dark">1223</span></div>
                                                        <div class="pr-3">Areas: <span class="text-dark">15</span></div>
                                                        <div>Date: <span class="text-dark">15/10/2019</span></div>
                                                    </div>
                                                    <div class="d-flex flex-sm-row flex-column">
                                                        <div>Progress: &nbsp; </div>
                                                        <div class="dt-indicator-item__info" data-fill="82" data-max="100"
                                                             data-percent="true"
                                                             data-sufix="Job Success" style="width: 220px">
                                                            <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                                                            <div class="dt-indicator-item__bar">
                                                                <div class="dt-indicator-item__fill bg-success"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /content -->

                                                <div class="min-w-120">
                                                    <a href="@Url.Action("Binloc_master", "Inventory")"
                                                       class="btn btn-primary text-uppercase btn-block">Details</a>
                                                    <a href="javascript:void(0)"
                                                       class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                                                        <i class="icon icon-file-upload icon-fw"></i> <span>Upload to SAP</span>
                                                    </a>
                                                </div>

                                            </div>
                                            <!-- /list -->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /card -->

                                </div>
                                <!-- /grid item -->



                            </div>
                            <!-- /grid -->

                        </div>
                        <!-- /site content -->

                    </div>
                    <!-- /site content wrapper -->

                </div>
                <!-- /custom Container -->

            </main>
            <!-- /main -->
            <!-- Footer -->
            <footer class="dt-footer">
                <div class="dt-container">
                    Copyright Distribuidora Limena © 2019
                </div>
            </footer>
            <!-- /footer -->

        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/main_Scripts.cshtml")

</body>
</html>
