@model IQueryable<LimenawebApp.Controllers.InventoryController.binlocationslist>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/temp_head.cshtml")

</head>
<body>

    <!-- Loader -->
    <div class="dt-loader-container">
        <div class="dt-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>
    <!-- /loader -->
    <!-- Root -->
    <div class="dt-root">
        <div class="dt-root__inner">

            <!-- Header -->
            @Html.Partial("~/Views/Shared/temp_header.cshtml")
            <!-- /header -->
            <!-- Site Main -->
            <main class="dt-main">
                <!-- Sidebar -->
                @Html.Partial("~/Views/Shared/main_sidebar.cshtml")
                <!-- /sidebar -->
                <!-- Custom Container -->
                <div class="dt-container">

                    <!-- Site Content Wrapper -->
                    <div class="dt-content-wrapper">

                        <!-- Site Content -->
                        <div class="dt-content">

                            <!-- Page Header -->
                            <div class="dt-page__header">

                                <ol class="breadcrumb" style="display:flow-root;">
                                    <li class="breadcrumb-item float-left"><a href="@Url.Action("Projects", "Inventory")">Back</a></li>
                                    <li class="breadcrumb-item float-right">Details</li>
                                    <li class="breadcrumb-item float-right">Projects </li>
                                    <li class="breadcrumb-item float-right">Inventory</li>



                                </ol>
                            </div>
                            <!-- /page header -->
                            <div class="dt-entry__header">

                                <!-- Entry Heading -->
                                <div class="dt-entry__heading">
                                    <h3 class="dt-entry__title">Project details: #@ViewBag.project.ID_project | @ViewBag.project.Name</h3>
                                </div>

                            </div>

                            <!-- Grid -->
                            <div class="row">
                                <!-- Grid Item -->
                                <div class="col-md-12 dt-masonry__item">

                                    <!-- Card -->
                                    <div class="">

                                        <!-- Card Header -->

                                        <!-- /card header -->
                                        <!-- Card Body -->
                                        <div class="dt-card__body">

                                            <!-- Tab Navigation -->
                                            <ul class="card-header-links nav nav-underline text-uppercase"
                                                role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                                                       aria-controls="home"
                                                       aria-selected="true">New assignment</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                                                       aria-controls="profile"
                                                       aria-selected="true">Counting history</a>
                                                </li>
                                            </ul>
                                            <!-- /tab navigation -->
                                            <!-- Tab Content --><br /><br /><br /><br />
                                                                      <div class="tab-content">

                                                                          <!-- Tab Pane -->
                                                                          <div id="home" class="tab-pane active">
                                                                              <!-- Grid Item -->
                                                                              <div class="row">
                                                                              <div class="col-xl-12" id="assignbinloc">

                                                                                  <!-- Card -->
                                                                                  <div class="dt-card dt-card__full-height">

                                                                                      <!-- Card Header -->
                                                                                      <div class="dt-card__header">

                                                                                          <!-- Card Heading -->
                                                                                          <div class="dt-card__heading">
                                                                                              <h3 class="dt-card__title">Bin Locations</h3>
                                                                                          </div>
                                                                                          <!-- /card heading -->

                                                                                      </div>
                                                                                      <!-- /card header -->
                                                                                      <!-- Card Body -->
                                                                                      <div class="dt-card__body">

                                                                                          <!-- Form -->
                                                                                          <div class="form-row">
                                                                                              <div class="col-sm-7 mb-3">
                                                                                                  <label>Picker</label>
                                                                                                  <div class="input-group">
                                                                                                      <div class="input-group-prepend">
                                                                                                          <span class="input-group-text" id="inputGroupPrepend2">@@</span>
                                                                                                      </div>
                                                                                                      <select class="form-control" id="selPicker">
                                                                                                          <option value="0">Select a picker</option>
                                                                                                          @foreach (var item in ViewBag.usuarios)
                    {
                                                                                      <option value="@item.ID_User">@item.Name @item.Lastname</option>
}


                                                                                                      </select>
                                                                                                  </div>
                                                                                              </div>
                                                                                              <div class="col-sm-3 mb-3">
                                                                                                  <label>&nbsp;</label>
                                                                                                  <div class="input-group">
                                                                                                      <button type="submit" id="btn-add" class="btn btn-primary text-uppercase">Add</button>
                                                                                                  </div>

                                                                                              </div>
                                                                                          </div><br />
                                                                                          <h3 class="dt-card__title">Filter by</h3>
                                                                                          <div class="form-row">
                                                                                              <div class="col-sm-3 mb-3">
                                                                                                  <label for="validationDefault02">Type</label>
                                                                                                  <select class="form-control" id="selTypeFrom">
                                                                                                      <option value="0">NA</option>
                                                                                                      @foreach (var item in Model.Select(c => c.Type).Distinct().OrderBy(c => c))
                {
                                                                                      <option>@item.ToUpper()</option>
}

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-3 mb-3">
                                                                                                  <label for="validationDefault02">Area</label>
                                                                                                  <select class="form-control" id="selAreaFrom">
                                                                                                      <option value="0">NA</option>
                                                                                                      @foreach (var item in Model.Select(c => c.Area).Distinct().OrderBy(c => c))
                {
                                                                                      <option>@item</option>
}

                                                                                                  </select>
                                                                                              </div>

                                                                                          </div>
                                                                                          <h3 class="dt-card__title">From</h3>
                                                                                          <div class="form-row">
                                                                                              <div class="col-sm-2 mb-3" style="display:none;">
                                                                                                  <label for="validationDefault02">Warehouse</label>
                                                                                                  <select class="form-control" id="selWarehouseFrom">
                                                                                                      <option selected>01</option>

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Aisle</label>
                                                                                                  <select class="form-control" id="selAisleFrom">
                                                                                                      <option value="0">NA</option>
                                                                                                      @foreach (var item in Model.Select(c => c.Aisle).Distinct().OrderBy(c => c))
                {
                                                                                      <option>@item</option>
}

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Position</label>
                                                                                                  <select class="form-control" id="selPositionFrom">
                                                                                                      <option value="0">NA</option>

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Level</label>
                                                                                                  <select class="form-control" id="selLevelFrom">
                                                                                                      <option value="0">NA</option>
                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Pallet Position</label>
                                                                                                  <select class="form-control" id="selPalletFrom">
                                                                                                      <option value="0">NA</option>
                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-1 mb-3">
                                                                                                  <label for="validationDefault02">&nbsp;</label>
                                                                                                  <span id="labelFromBin" class="badge badge-pill badge-success mb-1 mr-1"></span>
                                                                                              </div>
                                                                                          </div>
                                                                                          <h3 class="dt-card__title">To</h3>
                                                                                          <div class="form-row">
                                                                                              <div class="col-sm-2 mb-3" style="display:none;">
                                                                                                  <label for="validationDefault02">Warehouse</label>
                                                                                                  <select class="form-control" id="selWarehouseTo">
                                                                                                      <option selected>01</option>

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Aisle</label>
                                                                                                  <select class="form-control" id="selAisleTo">
                                                                                                      <option value="0">NA</option>
                                                                                                      @foreach (var item in Model.Select(c => c.Aisle).Distinct().OrderBy(c => c))
                {
                                                                                      <option>@item</option>
}
                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Position</label>
                                                                                                  <select class="form-control" id="selPositionTo">
                                                                                                      <option value="0">NA</option>

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Level</label>
                                                                                                  <select class="form-control" id="selLevelTo">
                                                                                                      <option value="0">NA</option>

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-2 mb-3">
                                                                                                  <label for="validationDefault02">Pallet Position</label>
                                                                                                  <select class="form-control" id="selPalletTo">
                                                                                                      <option value="0">NA</option>

                                                                                                  </select>
                                                                                              </div>
                                                                                              <div class="col-sm-1 mb-3">
                                                                                                  <label for="validationDefault02">&nbsp;</label>
                                                                                                  <span id="labelToBin" class="badge badge-pill badge-success mb-1 mr-1"></span>
                                                                                              </div>
                                                                                              <div class="col-sm-1 mb-3">

                                                                                              </div>
                                                                                              <div class="col-sm-1 mb-3">
                                                                                                  <div class="form-group mb-0">
                                                                                                      <button type="submit" id="btn-addProject" class="btn btn-primary text-uppercase">Create</button>

                                                                                                  </div>
                                                                                              </div>
                                                                                          </div>
                                                                                          <!-- /form group -->
                                                                                          <!-- Form Group -->
                                                                                          <!-- /form group -->
                                                                                          <!-- Form Group -->
                                                                                          <!-- /form group -->



                                                                                      </div>
                                                                                      <!-- /card body -->

                                                                                  </div>
                                                                                  <!-- /card -->

                                                                              </div>
                                                                              <!-- /grid item -->

                                                                       </div>
                                                                          <style>
                                                                              .dt-icon-bg:after {
                                                                                  width: 2.2rem !important;
                                                                                  height: 2.2rem !important;
                                                                              }

                                                                              .dt-icon-bg {
                                                                                  font-size: 2.2rem !important;
                                                                              }
                                                                          </style><!-- Change Value from Here -->
                                                                          <!-- /grid -->
                                                                          <div class="row" id="assignbinlocList">
                                                                              <div class="col-xl-12">
                                                                                  <div class="dt-card">

                                                                                      <!-- Card Body -->
                                                                                      <div class="dt-card__body p-0">
                                                                                          <div class="table-responsive" id="tbhidd" style="display:none;">
                                                                                              <!-- Tables -->
                                                                                              <table id="datatable2" class="table table-theme table-row v-middle" style="width:100%" >
                                                                                                  <thead>
                                                                                                      <tr>
                                                                                                          <th class="no-sort">
                                                                                                              <label class="ui-check m-0 ">
                                                                                                                  <input type="checkbox" class="selectchkAll" id="chk_all" value="0">
                                                                                                                  <i></i>
                                                                                                              </label>
                                                                                                          </th>

                                                                                                          <th><span class="text-muted">BIN</span></th>
                                                                                                          <th hidden><span class="text-muted">WHS</span></th>
                                                                                                          <th><span class="text-muted">AISLE</span></th>
                                                                                                          <th><span class="text-muted">POS</span></th>
                                                                                                          <th><span class="text-muted">LEVEL</span></th>
                                                                                                          <th><span class="text-muted">PALLET</span></th>
                                                                                                          <th><span class="text-muted">TYPE</span></th>
                                                                                                          <th><span class="text-muted">AREA</span></th>
                                                                                                          <th><span class="text-muted">USER</span></th>
                                                                                                          <th style="display:none">ID</th>
                                                                                                          <th style="display:none">ID USER</th>
                                                                                                          <th style="display:none">ORDER</th>
                                                                                                          <th hidden>BIN</th>


                                                                                                      </tr>
                                                                                                  </thead>
                                                                                                  <tbody>
                                                                                                      @foreach (var item in Model)
                                {
                                                                      <tr class=" " data-id="@item.id">
                                                                          <td>
                                                                              <span class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-4">
                                                                                  <input type="checkbox" data-marked="0" value="0" class="selectchk" id="chk_@item.id">
                                                                                  <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-1">
                                                                                      <span class="unchecked">
                                                                                          <i class="icon icon-circle-check-o icon-fw icon-1x text-light-gray"></i>
                                                                                      </span>
                                                                                      <span class="checked">
                                                                                          <i class="icon icon-remove icon-fw icon-1x text-danger"></i>
                                                                                      </span>
                                                                                  </label>
                                                                              </span>


                                                                              <i style="display:none" class="icon icon-user dt-icon-bg bg-success text-primary iconbinloc"></i>

                                                                          </td>
                                                                          <td style="min-width:30px;text-align:center">
                                                                              <small>@item.BinCode.Substring(2)</small>
                                                                          </td>
                                                                          <td hidden><small>@item.WhsCode</small></td>
                                                                          <td><small>@item.Aisle</small></td>
                                                                          <td><small>@item.Position</small></td>
                                                                          <td><small>@item.Level</small></td>
                                                                          <td><small>@item.PalletPosition</small></td>
                                                                          <td><small>@item.Type</small></td>
                                                                          <td><small>@item.Area</small></td>
                                                                          <td class="userA"><small class="text-muted">Not Assigned</small></td>
                                                                          <td style="display:none">@item.id</td>
                                                                          <td style="display:none" class="userAID">@item.id</td>
                                                                          <td style="display:none">@item.Order</td>
                                                                          <td hidden>@item.BinCode</td>

                                                                      </tr>
}
                                                                                                  </tbody>

                                                                                              </table>
                                                                                          </div>

                                                                                          <!-- /tables -->

                                                                                      </div>
                                                                                      <!-- /card body -->

                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                <!-- /tab pane-->
                                                <!-- Tab Pane -->
                                                                          <div id="profile" class="tab-pane">
                                                                              <div class="row" id="history">
                                                                                  <div class="col-xl-12">
                                                                                      <div class="dt-card">
                                                                                          <div class="dt-card__header mb-0">

                                                                                              <!-- Card Heading -->
                                                                                              <div class="dt-card__heading">
                                                                                                  <button type="button" id="btnDelHistory" class="btn btn-secondary btn-xs">Delete</button>
                                                                                              </div>
                                                                                              <!-- /card heading -->
                                                                                              <!-- Card Tools -->
                                                                                              <div class="dt-card__tools">
                                                                                                  <!-- List -->
                                                                                                  <ul class="dt-list dt-list-sm dt-list-cm-0">
                                                                                                      <!-- List Item -->
                                                                                                  
                                                                                                      <!-- /list item -->
                                                                                                      <!-- List Item -->
                                                                                                      <li class="dt-list__item">
                                                                                                          <!-- Dropdown -->
                                                                                                          <div class="dropdown d-inline-block">
                                                                                                              <a class="dropdown-toggle d-inline-block f-12 py-1 px-2 py-1 border rounded" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                                  Show
                                                                                                              </a>

                                                                                                              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(83px, 27px, 0px);">

                                                                                                                  <div class="custom-control custom-checkbox dropdown-item">
                                                                                                                      <input type="checkbox" class="custom-control-input" id="checkbox-2">
                                                                                                                      <label class="custom-control-label" for="checkbox-2">
                                                                                                                          Products
                                                                                                                      </label>
                                                                                                                  </div>
                                                                                                                  <div class="custom-control custom-checkbox dropdown-item">
                                                                                                                      <input type="checkbox" class="custom-control-input" id="checkbox-3">
                                                                                                                      <label class="custom-control-label" for="checkbox-3">
                                                                                                                          Quantity
                                                                                                                      </label>
                                                                                                                  </div>
                                                                                                                  <div class="custom-control custom-checkbox dropdown-item">
                                                                                                                      <input type="checkbox" class="custom-control-input" id="checkbox-5">
                                                                                                                      <label class="custom-control-label" for="checkbox-5">
                                                                                                                          Total Eaches
                                                                                                                      </label>
                                                                                                                  </div>
                                                                                                                  <div class="custom-control custom-checkbox dropdown-item">
                                                                                                                      <input type="checkbox" class="custom-control-input" id="checkbox-4">
                                                                                                                      <label class="custom-control-label" for="checkbox-4">
                                                                                                                          Date
                                                                                                                      </label>
                                                                                                                  </div>

                                                                                                              </div>
                                                                                                          </div>
                                                                                                          <!-- /dropdown -->
                                                                                                      </li>
                                                                                                      <!-- /list item -->
                                                                                                  </ul>
                                                                                                  <!-- /list -->

                                                                                              </div>
                                                                                              <!-- /card tools -->

                                                                                          </div><br /><br />
                                                                                          <!-- Card Body -->
                                                                                          <div class="dt-card__body p-0">
                                                                                              <div class="table-responsive">
                                                                                                  <!-- Tables -->
                                                                                                  <table id="historytable" class="table table-theme table-row v-middle" style="width:100%">
                                                                                                      <thead>
                                                                                                          <tr>
                                                                                                              <th class="no-sort">
                                                                                                                  <label class="ui-check m-0 ">
                                                                                                                      <input type="checkbox" class="selectchkAll2" id="chk_all2" value="0">
                                                                                                                      <i></i>
                                                                                                                  </label>
                                                                                                              </th>

                                                                                                              <th hidden><span class="text-muted">ID</span></th>
                                                                                                              <th><span class="text-muted">BIN</span></th>
                                                                                                              <th><span class="text-muted">AREA</span></th>
                                                                                                              <th><span class="text-muted">USER</span></th>
                                                                                                              <th class="colItemName"><span class="text-muted">ITEM</span></th>
                                                                                                              <th class="colUom"><span class="text-muted">UOM 1</span></th>
                                                                                                              <th class="colQTY"><span class="text-muted">QTY 1</span></th>
                                                                                                              <th class="colUom"><span class="text-muted">UOM 2</span></th>
                                                                                                              <th class="colQTY"><span class="text-muted">QTY 2</span></th>
                                                                                                              <th class="colUom"><span class="text-muted">UOM 3</span></th>
                                                                                                              <th class="colQTY"><span class="text-muted">QTY 3</span></th>
                                                                                                              <th class="colQTYf"><span class="text-muted">TOTAL EACHES</span></th>
                                                                                                              <th class="colDate"><span class="text-muted">DATE</span></th>
                                                                                                              <th><span class="text-muted">STATUS</span></th>



                                                                                                          </tr>
                                                                                                      </thead>
                                                                                                      <tbody>
                                                                                                          @foreach (var item in ViewBag.history)
                {
                                                                                                          <tr data-id="@item.ID_projects_task">
                                                                                                              <td>
                                                                                                                  @if (item.ID_status == 1)
                                                                                                                  {
                                                                                                              <input type="checkbox" value="0" class="selectchk2" id="chk_@item.ID_projects_task">}
                                                                                                              </td>
                                                                                                              <td hidden>@item.ID_projects_task</td>
                                                                                                              <td>@item.Bin_location.Substring(2)</td>
                                                                                                              <td>@item.Area</td>
                                                                                                              <td>@item.UserName</td>
                                                                                                              <td class="rowItemName">@item.ItemName</td>
                                                                                                              <td class="rowUomC">@item.UoM_code</td>
                                                                                                              <td class="rowQTY">@item.Quantity</td>
                                                                                                              <td class="rowUomC">@item.UoM_code2</td>
                                                                                                              <td class="rowQTY">@item.Quantity2</td>
                                                                                                              <td class="rowUomC">@item.UoM_code3</td>
                                                                                                              <td class="rowQTY">@item.Quantity3</td>
                                                                                                              <td class="rowQTYf">@item.Final_quantity</td>
                                                                                                              <td  class="rowDate">@Convert.ToDateTime(item.end_date).ToShortDateString()</td>
                                                                                                              <td>
                                                                                                                  @if (item.ID_status == 1)
    {
                                                                                                              <span class="badge badge-warning">Waiting</span>
}                                                                                                                  @if (item.ID_status == 2)
    {
                                                                                                              <span class="badge badge-info">Finished</span>
}
                                                                                                              </td>


                                                                                                          </tr>
}
                                                                                                      </tbody>

                                                                                                  </table>
                                                                                              </div>

                                                                                              <!-- /tables -->

                                                                                          </div>
                                                                                          <!-- /card body -->

                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                <!-- /tab pane-->

                                            </div>
                                            <!-- /tab content -->

                                        </div>
                                        <!-- /card body -->

                                    </div>
                                    <!-- /card -->

                                </div>
                                <!-- /grid item -->


                            </div>
                            <!-- /grid -->


                        </div>
                        <!-- /site content -->

                    </div>
                    <!-- /site content wrapper -->

                </div>
                <!-- /custom Container -->
            </main>
            <!-- /main -->
            <!-- Footer -->
            <footer class="dt-footer">
                <div class="dt-container">
                    Copyright Distribuidora Limena © 2019
                </div>
            </footer>
            <!-- /footer -->

        </div>
    </div>
    <!-- /root -->
    @Html.Partial("~/Views/Shared/main_Scripts.cshtml")
    <script>

        function filterMasterTable(tablesel, warehouseFrom, aisleFrom, positionFrom, levelFrom, palletFrom, warehouseTo, aisleTo, positionTo, levelTo, palletTo) {

            if (warehouseFrom == '0' && warehouseTo == '0') {
                //No hacemos nada

            } else {
                if (aisleFrom == '0' && aisleTo == '0') {
                    //No hacemos nada
                    $("#labelToBin").html('');
                    $("#labelFromBin").html('');
                } else {
                    var binFrom = "";
                    var binTo = "";
                    //Todos
                    if (aisleFrom != '0' && positionFrom != '0' && levelFrom != '0' && palletFrom !='0') {
                        binFrom = warehouseFrom + aisleFrom  + positionFrom + levelFrom  + palletFrom;
                    }//Sin pallet, def=01
                    if (aisleFrom != '0' && positionFrom != '0' && levelFrom != '0' && palletFrom == '0') {
                        binFrom = warehouseFrom + aisleFrom  + positionFrom  + levelFrom  + "01";
                    }//Sin pallet y sin level, def= A,01
                    if (aisleFrom != '0' && positionFrom != '0' && levelFrom == '0' && palletFrom == '0') {
                        binFrom = warehouseFrom +  aisleFrom +  positionFrom + "A" + "01";
                    }//Sin pallet, sin level, sin position  def=01, A,01
                    if (aisleFrom != '0' && positionFrom == '0' && levelFrom == '0' && palletFrom == '0') {
                        binFrom = warehouseFrom + aisleFrom + "001"  + "A"  + "01";
                    }//Sin pallet, sin level, sin position, sin aisle  def=A,01, A,01
                    if (aisleFrom == '0' && positionFrom == '0' && levelFrom == '0' && palletFrom == '0') {
                        binFrom = warehouseFrom + "A" +  "001" + "A"  + "01";
                    }

                    $("#labelFromBin").html(binFrom.substring(2));

                    if (aisleTo != '0') {
                        //Todos
                        if (aisleTo != '0' && positionTo != '0' && levelTo != '0' && palletTo != '0') {
                            binTo = warehouseTo  + aisleTo  + positionTo  + levelTo  + palletTo;
                        }//Sin pallet, def=01
                        if (aisleTo != '0' && positionTo != '0' && levelTo != '0' && palletTo == '0') {
                            binTo = warehouseTo  + aisleTo  + positionTo  + levelTo  + "01";
                        }//Sin pallet y sin level, def= A,01
                        if (aisleTo != '0' && positionTo != '0' && levelTo == '0' && palletTo == '0') {
                            binTo = warehouseTo  + aisleTo + positionTo  + "A"  + "01";
                        }//Sin pallet, sin level, sin position  def=01, A,01
                        if (aisleTo != '0' && positionTo == '0' && levelTo == '0' && palletTo == '0') {
                            binTo = warehouseTo + aisleTo  + "001" + "A" + "01";
                        }//Sin pallet, sin level, sin position, sin aisle  def=A,01, A,01
                        if (aisleTo == '0' && positionTo == '0' && levelTo == '0' && palletTo == '0') {
                            binTo = warehouseTo  + "A"  + "001"  + "A" + "01";
                        }
                        $("#labelToBin").html(binTo.substring(2));

                        //Proceso para filtrar por rango de bin location

                        var mainArrayBinLocation = @Html.Raw((ViewBag.arrayBin));

                        var objFrom = $.grep(mainArrayBinLocation, function (obj) { return obj.BinCode === binFrom; })[0].id;
                        var objTo = $.grep(mainArrayBinLocation, function (obj) { return obj.BinCode === binTo; })[0].id;

                        var returnedBinLocations = $.grep(mainArrayBinLocation, function (obj) { return obj.id >= objFrom && obj.id <= objTo; });

                        var search2 = [];
                        $.each(returnedBinLocations, function (index, value) {
                            search2.push(value.BinCode);
                        });
                        search2 = search2.join('|');
                        table.column(13).search('').draw();
                        table.column(3).search('').draw();
                        table.column(4).search('').draw();
                        table.column(5).search('').draw();
                        table.column(6).search('').draw();

                        table.column(13).search(search2, true, false).draw();


                    } else {
                        //Proceso para filtrar solo por FROM
                        $("#labelToBin").html('');
                        table.column(13).search('').draw();
                        table.column(3).search('').draw();
                        table.column(4).search('').draw();
                        table.column(5).search('').draw();
                        table.column(6).search('').draw();
                        if (aisleFrom != '0') {
                            var search2 = [];
                            search2.push(aisleFrom);
                            search2 = search2.join('|');
                            table.column(3).search("^" + search2 + "$", true, false, true).draw();
                        }
                        if (positionFrom != '0') {
                            var search2 = [];
                            search2.push(positionFrom);
                            search2 = search2.join('|');
                            table.column(4).search("^" + search2 + "$", true, false, true).draw();
                        }
                        if (levelFrom != '0') {
                            var search2 = [];
                            search2.push(levelFrom);
                            search2 = search2.join('|');
                            table.column(5).search("^" + search2 + "$", true, false, true).draw();
                        }
                        if (palletFrom != '0') {
                            var search2 = [];
                            search2.push(palletFrom);
                            search2 = search2.join('|');
                            table.column(6).search("^" + search2 + "$", true, false, true).draw();
                        }



                    }

                }
            }

        }

        $(document).ready(function () {
            $('.rowUomC').hide();
            $('.rowQTY').hide();
            $('.colQTY').hide();
            $('.colUom').hide();
            $('.rowItemName').hide();
            $('.colItemName').hide();
            $('.rowDate').hide();
            $('.colDate').hide();
            $('.colQTYf').hide();
            $('.rowQTYf').hide();
            $('#tbhidd').css("display", "block");


            table = $('#datatable2').DataTable({
                "order": [],
                "search": { regex: true },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });

            table2 = $('#historytable').DataTable({
                "order": [],
                "search": { regex: true },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });

        });

             $('#chk_all').change(function () {
            if (this.checked) {
                //table.$("input.selectchk").prop("checked", true);
                $('input.selectchk*[data-marked="0"]', table.rows({ filter: 'applied' }).nodes()).prop("checked", true);

            } else {
                //table.$("input.selectchk").prop("checked", false);
                $('input.selectchk*[data-marked="0"]', table.rows({ filter: 'applied' }).nodes()).prop("checked", false);

            }


             });


            $('#chk_all2').change(function () {
                if (this.checked) {
                    //table.$("input.selectchk").prop("checked", true);
                    $('input.selectchk2', table2.rows({ filter: 'applied' }).nodes()).prop("checked", true);

                } else {
                    //table.$("input.selectchk").prop("checked", false);
                    $('input.selectchk2*', table2.rows({ filter: 'applied' }).nodes()).prop("checked", false);

                }

        });

        $('#checkbox-2').click(function () {

            if ($(this).prop('checked')) {
                // do what you need here
                $('.rowItemName').show();
                $('.colItemName').show();
            }
            else {
                $('.rowItemName').hide();
                $('.colItemName').hide();
            }
            
        });

        $('#checkbox-3').click(function () {

            if ($(this).prop('checked')) {
                // do what you need here
                $('.rowUomC').show();
                $('.rowQTY').show();
                $('.colQTY').show();
                $('.colUom').show();
            }
            else {
                $('.rowUomC').hide();
                $('.rowQTY').hide();
                $('.colQTY').hide();
                $('.colUom').hide();
            }
        });

        $('#checkbox-4').click(function () {

            if ($(this).prop('checked')) {
                // do what you need here
                $('.rowDate').show();
                $('.colDate').show();
            }
            else {
                $('.rowDate').hide();
                $('.colDate').hide();
            }
        });

        $('#checkbox-5').click(function () {

            if ($(this).prop('checked')) {
                // do what you need here
                $('.colQTYf').show();
                $('.rowQTYf').show();
            }
            else {
                $('.colQTYf').hide();
                $('.rowQTYf').hide();
            }
        });

        $('#selAisleFrom').on('change', function () {
            if (this.value != 0) {
                var id = this.value;
                var mainlst_BinLocationArray = @Html.Raw((ViewBag.arrayBin));
                var newArray = mainlst_BinLocationArray.filter(function (el) {
                    return el.Aisle == id;
                });

                var result = newArray.map(item => item.Position)
                    .filter((value, index, self) => self.indexOf(value) === index)


                $("#selPositionFrom").html("");
                $("#selPositionFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selLevelFrom").html("");
                $("#selLevelFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletFrom").html("");
                $("#selPalletFrom").append($('<option selected></option>').val(0).html("NA"));
                $.each(result, function (i, bin) {
                    $("#selPositionFrom").append
                        ($('<option data-aisle=' + id + '></option>').val(bin).html(bin));
                });

                result = [];

                //FIltramos en tabla

                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());



                //var search2 = [];
                //var val1 = '';
                //var val2 = '';
                //$.each($('#selAisleFrom option:selected'), function () {
                //    //search2.push($(this).val());
                //    val1 = $(this).index();
                //});
                //$.each($('#selAisleTo option:selected'), function () {
                //    //search2.push($(this).val());
                //    val2 = $(this).index();
                //});

                //if (val2 == 0) {

                //    //verificamos que campos estan llenos


                //    search2.push($(this).val());
                //    search2 = search2.join('|');
                //    table.column(3).search("^" + search2 + "$", true, false, true).draw();
                //} else {

                //    var select = document.getElementById("selAisleFrom");
                //    for (var i = val1; i <= val2; i++) {
                //        var option = select.options[i];
                //        // now have option.text, option.valuel
                //        search2.push(option.value);
                //    }

                //    search2 = search2.join('|');
                //    table.column(3).search("^" + search2 + "$", true, false, true).draw();
                //}


            } else {
                table.column(13).search('').draw();
                table.column(3).search('').draw();
                table.column(4).search('').draw();
                table.column(5).search('').draw();
                table.column(6).search('').draw();
                $("#selPositionFrom").html("");
                $("#selPositionFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selLevelFrom").html("");
                $("#selLevelFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletFrom").html("");
                $("#selPalletFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selAisleTo").val('0').trigger("change");
                $("#selPositionTo").html("");
                $("#selPositionTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selLevelTo").html("");
                $("#selLevelTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));
            }

        });

        $('#selPositionFrom').on('change', function () {
            if (this.value != 0) {

                var id = this.value;
                var aisle = $(this).find(':selected').attr('data-aisle')
                var mainlst_BinLocationArray = @Html.Raw((ViewBag.arrayBin));
                var newArray = mainlst_BinLocationArray.filter(function (el) {
                    return el.Position = id && el.Aisle == aisle;
                });


                var result = newArray.map(item => item.Level)
                    .filter((value, index, self) => self.indexOf(value) === index)



                $("#selLevelFrom").html("");
                $("#selLevelFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletFrom").html("");
                $("#selPalletFrom").append($('<option selected></option>').val(0).html("NA"));
                $.each(result, function (i, bin) {
                    $("#selLevelFrom").append
                        ($('<option data-position=' + id + ' data-aisle=' + aisle + '></option>').val(bin).html(bin));
                });

                result = [];
                //FIltramos en tabla
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            } else {
                table.column(4).search('').draw();
                table.column(13).search('').draw();
                table.column(5).search('').draw();
                table.column(6).search('').draw();
                $("#selLevelFrom").html("");
                $("#selLevelFrom").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletFrom").html("");
                $("#selPalletFrom").append($('<option selected></option>').val(0).html("NA"));

                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            }

        });


        $('#selLevelFrom').on('change', function () {
            if (this.value != 0) {

                var id = this.value;
                var aisle = $(this).find(':selected').attr('data-aisle')
                var position = $(this).find(':selected').attr('data-position')
                var mainlst_BinLocationArray = @Html.Raw((ViewBag.arrayBin));
                var newArray = mainlst_BinLocationArray.filter(function (el) {
                    return el.Level == id && el.Position == position && el.Aisle == aisle;
                });


                var result = newArray.map(item => item.PalletPosition)
                    .filter((value, index, self) => self.indexOf(value) === index)


                $("#selPalletFrom").html("");
                $("#selPalletFrom").append($('<option selected></option>').val(0).html("NA"));
                $.each(result, function (i, bin) {
                    $("#selPalletFrom").append
                        ($('<option data-level=' + id + ' data-aisle=' + aisle + ' data-position=' + position + '></option>').val(bin).html(bin));
                });

                result = [];
                //FIltramos en tabla
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            } else {
                table.column(13).search('').draw();
                table.column(5).search('').draw();
                table.column(6).search('').draw();
                $("#selPalletFrom").html("");
                $("#selPalletFrom").append($('<option selected></option>').val(0).html("NA"));

                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            }

        });


        $('#selAreaFrom').on('change', function () {
            if (this.value != 0) {
                var search2 = [];

                search2.push($(this).val());
                search2 = search2.join('|');
                table.column(8).search("^" + search2 + "$", true, false, true).draw();

            } else {

                table.column(8).search('').draw();
            }

        });
        $('#selTypeFrom').on('change', function () {
            if (this.value != 0) {
                var search2 = [];

                search2.push($(this).val());
                search2 = search2.join('|');
                table.column(7).search("^" + search2 + "$", true, false, true).draw();

            } else {

                table.column(7).search('').draw();
            }

        });
        $('#selPalletFrom').on('change', function () {
            if (this.value != 0) {
                result = [];
                //FIltramos en tabla
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            } else {
                table.column(13).search('').draw();
                table.column(6).search('').draw();
            }

        });



        //TO
        $('#selAisleTo').on('change', function () {
            if (this.value != 0) {

                if ($("#selAisleFrom option:selected").index() == 0) {
                    $(this).val('0').trigger("change");
                    $("#selPositionTo").html("");
                    $("#selPositionTo").append($('<option selected></option>').val(0).html("NA"));
                    $("#selLevelTo").html("");
                    $("#selLevelTo").append($('<option selected></option>').val(0).html("NA"));
                    $("#selPalletTo").html("");
                    $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));
                } else {

                var id = this.value;
                var mainlst_BinLocationArray = @Html.Raw((ViewBag.arrayBin));
                var newArray = mainlst_BinLocationArray.filter(function (el) {
                    return el.Aisle == id;
                });

                var result = newArray.map(item => item.Position)
                    .filter((value, index, self) => self.indexOf(value) === index)


                $("#selPositionTo").html("");
                $("#selPositionTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selLevelTo").html("");
                $("#selLevelTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));
                $.each(result, function (i, bin) {
                    $("#selPositionTo").append
                        ($('<option data-aisle=' + id + '></option>').val(bin).html(bin));
                });

                    result = [];


                    //FIltramos en tabla
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());


                }


            } else {
                table.column(13).search('').draw();
                $("#selPositionTo").html("");
                $("#selPositionTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selLevelTo").html("");
                $("#selLevelTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));

                //FIltramos en tabla
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());

            }

        });

        $('#selPositionTo').on('change', function () {
            if (this.value != 0) {

                var id = this.value;
                var aisle = $(this).find(':selected').attr('data-aisle')
                var mainlst_BinLocationArray = @Html.Raw((ViewBag.arrayBin));
                var newArray = mainlst_BinLocationArray.filter(function (el) {
                    return el.Position = id && el.Aisle == aisle;
                });


                var result = newArray.map(item => item.Level)
                    .filter((value, index, self) => self.indexOf(value) === index)



                $("#selLevelTo").html("");
                $("#selLevelTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));
                $.each(result, function (i, bin) {
                    $("#selLevelTo").append
                        ($('<option data-position=' + id + ' data-aisle=' + aisle + '></option>').val(bin).html(bin));
                });

                result = [];

                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());


            } else {
                table.column(13).search('').draw();
                $("#selLevelTo").html("");
                $("#selLevelTo").append($('<option selected></option>').val(0).html("NA"));
                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));


                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());

            }

        });


        $('#selLevelTo').on('change', function () {
            if (this.value != 0) {

                var id = this.value;
                var aisle = $(this).find(':selected').attr('data-aisle')
                var position = $(this).find(':selected').attr('data-position')
                var mainlst_BinLocationArray = @Html.Raw((ViewBag.arrayBin));
                var newArray = mainlst_BinLocationArray.filter(function (el) {
                    return el.Level == id && el.Position == position && el.Aisle == aisle;
                });


                var result = newArray.map(item => item.PalletPosition)
                    .filter((value, index, self) => self.indexOf(value) === index)


                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));
                $.each(result, function (i, bin) {
                    $("#selPalletTo").append
                        ($('<option data-level=' + id + ' data-aisle=' + aisle + ' data-position=' + position + '></option>').val(bin).html(bin));
                });

                result = [];
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            } else {
                table.column(13).search('').draw();
                $("#selPalletTo").html("");
                $("#selPalletTo").append($('<option selected></option>').val(0).html("NA"));
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            }

        });



        $('#selPalletTo').on('change', function () {
            if (this.value != 0) {

                result = [];
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            } else {
                table.column(13).search('').draw();
                filterMasterTable(table, $("#selWarehouseFrom").val(), $("#selAisleFrom").val(), $("#selPositionFrom").val(), $("#selLevelFrom").val(), $("#selPalletFrom").val(),
                    $("#selWarehouseTo").val(), $("#selAisleTo").val(), $("#selPositionTo").val(), $("#selLevelTo").val(), $("#selPalletTo").val());
            }

        });


        $('#checkbox-1').click(function () {

            if ($(this).prop('checked')) {
                // do what you need here
                $('#assignbinloc').css("display", "block");
                $('#assignbinlocList').css("display", "block");
            }
            else {
                // do what you need here
                $('#assignbinloc').hide();
                $('#assignbinlocList').hide();
            }
        });

        $("input.selectchk").click(function () {

            if ($(this).prop('checked')) {

            }
            else {
                // Desbloqueamos
                $(this).closest('tr').find('.iconbinloc').hide();
                $(this).closest('tr').find('td.userA').html("<small style='background-color: white;'>" + "Not Assigned" + "</small>");
                $(this).closest('tr').find('td.userAID').html('');
                $(this).attr('data-marked', 0);
            }
        });


        //Assign User
        $("#btn-add").click(function () {
            var flag = 0;

            var idp=$("#selPicker").val();
            var textp = $("#selPicker option:selected").text();

            $.each(table.$("input.selectchk*[data-marked='0']"), function () {

                if ($(this).data('marked') == 0) {
                    if ($(this).prop('checked')) {
                        flag = 1;


                    }
                }

            });

            if (flag == 0) {
                var toast = swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                toast({
                    type: 'info',
                    title: 'Select at least one bin location'
                })
            }
            if (idp== 0) {
                var toast = swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                toast({
                    type: 'info',
                    title: 'Select at least one Picker'
                })
            }
            if (flag == 1 && idp != 0) {


                $.each(table.$("input.selectchk*[data-marked='0']"), function () {

                    if ($(this).data('marked') == 0) {
                        if ($(this).prop('checked')) {
                            flag = 1;
                            $(this).closest('tr').find('.iconbinloc').css("display", "inline-block");
                            $(this).closest('tr').find('td.userA').html("<small style='background-color: honeydew;'>" + textp + "</small>");
                            $(this).closest('tr').find('td.userAID').html(idp);

                            $(this).attr('data-marked', 1);

                        }
                    }

                });
            }
        });

        $("form").submit(function (e) {
            e.preventDefault();
            });

        $("#btn-addProject").click(function () {

            var times = '@ViewBag.count';
            var project = '@ViewBag.project.ID_project';


                swal.fire({
                    title: 'Save changes',
                    text: "Are you sure you want to save this changes?",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3dba6f',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Yes'
                }).then(function (result) {
                    if (result.value) {
                        //Guardamos

                        $("#btn-addProject").attr("disabled", true);


                        // var oTable = $('#htmlgrid').dataTable();
                        //console.log(oTable.fnGetData());

                        oSettings = table.settings();
                        oSettings[0]._iDisplayLength = oSettings[0].fnRecordsTotal();
                     
                        table.search('').columns().search('').draw();


                        var data;
                        data = Array();



                        $("#datatable2 tr").each(function (i, v) {
                            data[i] = Array();
                            $(this).children('td').each(function (ii, vv) {
                                if (ii == 0) {
                                    if ($(this).eq(0).find('input[type = "checkbox"]').is(":checked")) {
                                        data[i][ii] = true;
                                    } else {
                                        data[i][ii] = false;
                                    }
                                }
                                else if (ii == 9 || ii==1) {
                                    data[i][ii] = $(this).eq(0).find('small').text();
                                } else {
                                    data[i][ii] = $(this).text();
                                }

                            });
                        })

                        var objects = [];
                        for (var i = 0, len = data.length; i < len; i++) {

                            if (i != 0) {
                                if (data[i][0] == true && data[i][9] !="Not Assigned") {
                                    objects.push({
                                        Bin_IDSAP: data[i][10],
                                        Bin_location: data[i][13],
                                        Warehouse: data[i][2],
                                        Aisle: data[i][3],
                                        Position: data[i][4],
                                        Levelpst: data[i][5],
                                        Pallet_position: data[i][6],
                                        Type: data[i][7],
                                        Area: data[i][8],
                                        Internal_sort: data[i][12],
                                        UserNameAssigned: data[i][9],
                                        ID_userAssigned: data[i][11],

                                    });
                                }

                            }

                        }

                       
                 
                        if (objects.length > 0) {
                            oSettings[0]._iDisplayLength = 10;
                            $.ajax
                            ({
                                    url: '/Inventory/Save_Details',
                                type: 'POST',
                                    data: { 'objects': objects, 'maxcounts': times, 'idproj':project },
                                success: function (result) {

                                    if (result == "SUCCESS") {
                                        var toast = swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            showConfirmButton: false,
                                            timer: 3000
                                        });

                                        toast({
                                            type: 'success',
                                            title: 'Data saved successfully.'
                                        })


                                        setTimeout(
                                            function () {
                                                var url = '@Url.Action("Binloc_master", "Inventory", new { idproj = ViewBag.project.ID_project, count=ViewBag.count })';
                                                url = url.replace('amp;', '');
                                                 window.location.href = url;
                                            }, 2000);

                                    } else {

                                    }
                                    $("#btn-addProject").attr("disabled", false);

                                },
                                error: function () {
                                    $("#btn-addProject").attr("disabled", false);
                                    oSettings = table.settings();
                                    oSettings[0]._iDisplayLength = 10;
                                    table.search('').columns().search('').draw();
                                    $("#selAisleTo").val('0').trigger("change");
                                    $("#selAisleFrom").val('0').trigger("change");
                                    $('#selAreaFrom').val('0').trigger("change");
                                    $('#selTypeFrom').val('0').trigger("change");
                                },
                            });

                        } else {
                            $("#btn-addProject").attr("disabled", false);
                          
                            var toast = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toast({
                                type: 'info',
                                title: 'Please assign at least one bin location'
                            });

                            oSettings = table.settings();
                            oSettings[0]._iDisplayLength = 10;
                            table.search('').columns().search('').draw();
                            $("#selAisleTo").val('0').trigger("change");
                            $("#selAisleFrom").val('0').trigger("change");
                            $('#selAreaFrom').val('0').trigger("change");
                            $('#selTypeFrom').val('0').trigger("change");
                        }
                        //document.getElementById("loader").style.display = "block";


                    } else if (result.dismiss == 'cancel') {

                    }

                });
            



        });



        $("#btnDelHistory").click(function () {

            var times = '@ViewBag.count';
            var project = '@ViewBag.project.ID_project';


                swal.fire({
                    title: 'Delete',
                    text: "Are you sure you want to delete selected records?",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3dba6f',
                    cancelButtonColor: '#aaa',
                    confirmButtonText: 'Yes'
                }).then(function (result) {
                    if (result.value) {
                        //Guardamos

                        $("#btnDelHistory").attr("disabled", true);


                        // var oTable = $('#htmlgrid').dataTable();
                        //console.log(oTable.fnGetData());

                        oSettings2 = table2.settings();
                        oSettings2[0]._iDisplayLength = oSettings2[0].fnRecordsTotal();
                     
                        table2.search('').columns().search('').draw();


                        var data2;
                        data2 = Array();



                        $("#historytable tr").each(function (i, v) {
                            data2[i] = Array();
                            $(this).children('td').each(function (ii, vv) {
                                if (ii == 0) {
                                    if ($(this).eq(0).find('input[type = "checkbox"]').is(":checked")) {
                                        data2[i][ii] = true;
                                    } else {
                                        data2[i][ii] = false;
                                    }
                                }else {
                                    data2[i][ii] = $(this).text();
                                }

                            });
                        })

                        var objects2 = [];
                        for (var i = 0, len = data2.length; i < len; i++) {

                            if (i != 0) {
                                if (data2[i][0] == true) {
                                    objects2.push({
                                        idtask: data2[i][1],

                                    });
                                }

                            }

                        }

                       
                 
                        if (objects2.length > 0) {
                            oSettings2[0]._iDisplayLength = 10;
                            $.ajax
                            ({
                                    url: '/Inventory/Delete_Details',
                                type: 'POST',
                                    data: { 'objects': objects2, 'maxcounts': times, 'idproj':project },
                                success: function (result) {

                                    if (result == "SUCCESS") {
                                        var toast = swal.mixin({
                                            toast: true,
                                            position: 'top-end',
                                            showConfirmButton: false,
                                            timer: 3000
                                        });

                                        toast({
                                            type: 'success',
                                            title: 'Data deleted successfully.'
                                        })


                                        setTimeout(
                                            function () {
                                                window.location.reload(true)
                                            }, 2000);

                                    } else {

                                    }
                                    $("#btnDelHistory").attr("disabled", false);

                                },
                                error: function () {
                                    $("#btnDelHistory").attr("disabled", false);

                                },
                            });

                        } else {
                            $("#btnDelHistory").attr("disabled", false);
                          
                            var toast = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toast({
                                type: 'info',
                                title: 'Please select at least one record'
                            });

                            oSettings2 = table2.settings();
                            oSettings2[0]._iDisplayLength = 10;
                            table2.search('').columns().search('').draw();
                          
                        }
                        //document.getElementById("loader").style.display = "block";


                    } else if (result.dismiss == 'cancel') {

                    }

                });
            



        });

    </script>
</body>
</html>
